/* @import url(https://fonts.googleapis.com/css?family=Lato:400,700);
 * {
	 box-sizing: border-box;
}
 body {
	 font-family: 'Lato';
}
 .heading-primary {
	 font-size: 2em;
	 padding: 2em;
	 text-align: center;
}
 .accordion dl, .accordion-list {
	 border: 1px solid #ddd;
}
 .accordion dl:after, .accordion-list:after {
	 content: "";
	 display: block;
	 height: 1em;
	 width: 100%;
	 background-color: #2ba659;
}
 .accordion dd, .accordion__panel {
	 background-color: #eee;
	 font-size: 1em;
	 line-height: 1.5em;
}
 .accordion p {
	 padding: 1em 2em 1em 2em;
}
 .accordion {
	 position: relative;
	 background-color: #eee;
}
 .container {
	 max-width: 960px;
	 margin: 0 auto;
	 padding: 2em 0 2em 0;
}
 .accordionTitle, .accordion__Heading {
	 background-color: #38cc70;
	 text-align: center;
	 font-weight: 700;
	 padding: 2em;
	 display: block;
	 text-decoration: none;
	 color: #fff;
	 transition: background-color 0.5s ease-in-out;
	 border-bottom: 1px solid #30bb64;
}
 .accordionTitle:before, .accordion__Heading:before {
	 content: "+";
	 font-size: 1.5em;
	 line-height: 0.5em;
	 float: left;
	 transition: transform 0.3s ease-in-out;
}
 .accordionTitle:hover, .accordion__Heading:hover {
	 background-color: #2ba659;
}
 .accordionTitleActive, .accordionTitle.is-expanded {
	 background-color: #2ba659;
}
 .accordionTitleActive:before, .accordionTitle.is-expanded:before {
	 transform: rotate(-225deg);
}
 .accordionItem {
	 height: auto;
	 overflow: hidden;
	 max-height: 50em;
	 transition: max-height 1s;
}
 @media screen and (min-width: 48em) {
	 .accordionItem {
		 max-height: 15em;
		 transition: max-height 0.5s;
	}
}
 .accordionItem.is-collapsed {
	 max-height: 0;
}
 .no-js .accordionItem.is-collapsed {
	 max-height: auto;
}
 .animateIn {
	 animation: accordionIn 0.45s normal ease-in-out both 1;
}
 .animateOut {
	 animation: accordionOut 0.45s alternate ease-in-out both 1;
}
 @keyframes accordionIn {
	 0% {
		 opacity: 0;
		 transform: scale(0.9) rotateX(-60deg);
		 transform-origin: 50% 0;
	}
	 100% {
		 opacity: 1;
		 transform: scale(1);
	}
}
 @keyframes accordionOut {
	 0% {
		 opacity: 1;
		 transform: scale(1);
	}
	 100% {
		 opacity: 0;
		 transform: scale(0.9) rotateX(-60deg);
	}
} */


<!DOCTYPE html>
<html>
<head>
<title>CSS Accordion Slider</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style>
.accordion.Discovery {
   -webkit-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
   -moz-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
   box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
   font-family: Arial, Helvetica, sans-serif;
   border-color: #505050;
   border-style: solid;
   border-width: 0px;
   border-radius: 0px;
   margin: 0 auto;
   height: 664px;
   width: 1200px;
}

.accordion.Discovery > ul > li,
.Discovery .accordion-title,
.Discovery .accordion-content,
.Discovery .accordion-separator {
   float: none;
}

.accordion.Discovery > ul > li {
   background-color: #1f1f1f;
   margin-right: -0px;
   margin-bottom: -500px;
}

.Discovery .accordion-select:checked ~ .accordion-separator {
   margin-right: 0px;
   margin-bottom: 500px;
}

.Discovery .accordion-title,
.Discovery .accordion-select  {
   background-color: #2d2d2d;
   color: #ffffff;
   width: 1200px;
   height: 40px;
   font-size: 18px;
}

.Discovery .accordion-title span {
   margin-bottom: 20px;
   margin-left: 20px;
}

.Discovery .accordion-select:hover ~ .accordion-title,
.Discovery .accordion-select:checked ~ .accordion-title {
   background-color: #3068cc;
}

.Discovery .accordion-title span  {
   transform: rotate(0deg);
   -o-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -webkit-transform: rotate(0deg);
   -ms-writing-mode: lr-tb;
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
   margin-bottom: 0px;
   line-height: 40px;
}

.Discovery .accordion-content {
   background-color: #3e3e3e;
   color: #f5f2f0;
   height: 404px;
   width: 1104px;
   padding: 48px;
}

.Discovery .accordion-title,
.Discovery .accordion-select:checked ~ .accordion-content {
   margin-right: 1px;
   margin-bottom: 1px;
}

/* Do not change following properties, they aren't
generated automatically and are common for each slider. */
.accordion {
   overflow: hidden;
}

.accordion > ul {
   margin: 0;
   padding: 0;
   list-style: none;
   width: 101%;
}

.accordion > ul > li,
.accordion-title {
   position: relative;
}

.accordion-select {
   cursor: pointer;
   position: absolute;
   opacity: 0;
   top: 0;
   left: 0;
   margin: 0;
   z-index: 1;
}

.accordion-title span {
   display: block;
   position: absolute;
   bottom: 0px;
   width: 100%;
   white-space: nowrap;
}

.accordion-content {
   position: relative;
   overflow: auto;
}

.accordion-separator {
   transition: margin 0.3s ease 0.1s;
   -o-transition: margin 0.3s ease 0.1s;
   -moz-transition: margin 0.3s ease 0.1s;
   -webkit-transition: margin 0.3s ease 0.1s;
}
</style>
</head>
<body>
<div class="accordion Discovery">
   <ul>
        <li>
           <input type="radio" name="select" class="accordion-select" checked />
           <div class="accordion-title">
               <span>Title</span>
           </div>
           <div class="accordion-content">
               Content
           </div>
           <div class="accordion-separator"></div>
       </li>
        <li>
           <input type="radio" name="select" class="accordion-select" />
           <div class="accordion-title">
               <span>Title</span>
           </div>
           <div class="accordion-content">
               Content
           </div>
           <div class="accordion-separator"></div>
       </li>
        <li>
           <input type="radio" name="select" class="accordion-select" />
           <div class="accordion-title">
               <span>Title</span>
           </div>
           <div class="accordion-content">
               Content
           </div>
           <div class="accordion-separator"></div>
       </li>
        <li>
           <input type="radio" name="select" class="accordion-select" />
           <div class="accordion-title">
               <span>Title</span>
           </div>
           <div class="accordion-content">
               Content
           </div>
           <div class="accordion-separator"></div>
       </li>
   </ul>
</div>
<div style="text-align:center;margin-top:50px;">
   <a href="https://accordionslider.com/" style="color:#568EEA;text-decoration:none;">
       Css Accordion Slider Generator
   </a>
</div>
</body>
</html> 
