.articleAndCaseStudy {
  display: grid;
  grid-template-columns: 360px auto;
  grid-template-areas:
    'article caseStudyContainer';
  background-color: #D9DADF;
}

.menu {
  position: relative;
}

.articleAndCaseStudy>div {
  padding: 0 20px;
}

.article {
  /* margin: 0 10px; */
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  font-size: 16px;
  border-right: 1px solid black;
  padding: 0 20px;
  line-height: 1.3;
}

.article {
  position: sticky;
  display: flex;
}

.article footer {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  min-height: 90vh;
  align-items: center;
  margin-bottom: 44px;
}

footer ul {
  width: 100%;
}

footer ul a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-color: white;
  /* background-color: #C7CAD5; */
  /* background-color: #eaeaea; */
  /* width: 100%; */
  color: #4A7365;
  transition: color linear 0.15s;
  font-size: 22px;
  text-align: left;
  margin: 15px auto;
  padding: 8px 0 8px 100px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
transition: all 0.3s cubic-bezier(.25,.8,.25,1); */
}

a:hover {
  /* text-decoration: none; */
  transition: color linear 0.15s;
}
footer a:hover {
  /* text-decoration: none; */
  color: white;
  background-color: #333333;
}

footer img {
  display: flex;
  margin: 0 auto 44px auto;
  width: 75%;
}
footer sub{
  position: absolute;
  bottom: 10px;
  left: 0;
}
.article section {
  position: sticky;
  bottom: 0;
  align-self: flex-end;
}

.article h1 {
  /* margin-right: */
  margin: 50px 0 0 0;
}

.article .subhead {
  /* margin: 0 0 50px 0; */
  border-top: 1px solid black;
  margin-top: 25px;
  padding-top: 20px;
  text-indent: 0;
}

.article p {
  text-indent: 1em;
  margin: 0;
}

.article small {
  font-style: italic;
  font-size: 100%;
}

.subhead::first-letter {
  font-size: 570%;
  line-height: 80%;
  color: #4A7365;
  float: left;
  margin-right: 8px;
}

.PersonaCard {
  list-style-type: none;
  background-color: #75CEB4;
  width: 360px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  font-size: 16px;
  padding: 25px;
  margin: 50px;
  border-radius: 25px;
}

.PersonaCard .InfoList {
  margin-left: 25px;
  line-height: 1.4;
}

.PersonaCard .Bio {
  flex: 1;
}

.PersonaCard .Picture svg {
  display: flex;
  margin: auto;
}

.PersonaCard h4 {
  margin-bottom: 6px;
}

.PersonaCard h5 {
  margin: 0;
}

.mobileContainer {
  transform: scale(.7);
  padding: 40px 15px 20px 15px;
  background-color: gray;
  width: 360px;
  border-radius: 45px;
}

.mobileContainer .topExtras {
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
  align-items: center;
}

.mobileContainer .topExtras .light {
  width: 20px;
  height: 20px;
  background-color: darkgray;
  border-radius: 25px;
  opacity: .1;
}

.mobileContainer .topExtras .speaker {
  width: 75px;
  height: 7px;
  background-color: white;
  border-radius: 15px;
  opacity: .2;
}

.mobileContainer .topExtras .camra {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 25px;
  opacity: .05;
}

.mobileContainer .bottomExtras {
  padding-top: 5px;
}

.mobileContainer .bottomExtras .unlock {
  display: flex;
  margin: auto;
  background-color: darkgray;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.caseStudyContainer p {
  margin: 100px 200px;
}

.caseStudyContainer h3 {
  height: 200px;
  width: 70%;
  margin: auto;
}

.caseStudyContainer .picture {
  display: flex;
  flex-direction: column;
}

.caseStudyContainer .hero {
  display: flex;
  justify-content: space-between;
}

.caseStudyContainer .hero .text {
  width: 50%;
  margin: auto;
}

.caseStudyContainer .hero img {
  width: 360px;
  height: 640px;
}

.caseStudyContainer .FlexContainer {
  display: flex;
  margin-bottom: 25px;
}

.caseStudyContainer img {
  width: 90%;
}

.caseStudyContainer sub {
  text-align: left;
}

.PersonaGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Goals {
  margin-bottom: 25px;
}

.Bio {
  margin-bottom: 25px;
}

/* User Story Table */
th {
  padding: 15px;
}

table {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

table td {
  padding: 4px;
  margin: 3px;
  border: 1px solid #CCC;
  vertical-align: middle;
}

table th {
  background-color: #205C65;
  color: #FFF;
  font-weight: bold;
}

.tableFirstrow {}

.tableSecondrow {
  background-color: #666666;
  color: white;
}

tr:hover {
  outline: 2px solid #205C65;
  outline-offset: -2px;
}

.tableborder {
  border-radius: 5px;
  overflow-x: hidden;
  border: 1px solid #205C65;
  width: 80%;
  margin: auto;
}

.spacer {
  height: 100px;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1400px) {}
