.caseStudyGrid {
  /* background-color: #ececec; */
  display: grid;
  grid-template-columns:1fr;
  grid-template-areas:
    'resilApp'
    'thisPortfolio'
    'oldPortfolio'
    'liteSku'
    'desertParadigm'
    'busyBus'
    'blocJams'
    'fate';
    position: relative;
    top: 75px;
}
.liteSku .projectPicture{
    background-image: url(../assets/LiteSku/liteSkuMobileMockup.png);
}
.resilApp .projectPicture{
    background-image: url(../assets/resilMockup.png);
    background-size: contain;
    position: relative;
    /* top: 10px; */
}
.caseStudyGrid>div {
  /* border: 5px solid gray; */
  min-height: 500px;
}
.caseStudyGrid>div>div {
  /* border: 5px solid blue; */
  min-height: 100px;
}
.projectName{
  margin-bottom: 25px;
}
.projectPicture{
  grid-area: projectPicture;
}
.oldPortfolio{
  grid-area: oldPortfolio;
}
.liteSku{
  grid-area: liteSku;
}
.desertParadigm{
  grid-area: desertParadigm;
}
.busyBus{
  grid-area: busyBus;
}
.blocJams{
  grid-area: blocJams;
}
.thisPortfolio{
  grid-area: thisPortfolio;
}
.projectName{
  grid-area: projectName;
}
.summary{
  grid-area: summary;
}
.type{
  grid-area: type;
}
.introduction{
  display: none;
}
.projectPicture{
  background-image: url(../assets/laptopPicture.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}
.projectCard{
  transition: transform 200ms ease 0s;
  background-color: #333333;
  /* background-image: linear-gradient(70deg, #4A7365, #4A7365 30%,#98ACA5); */
  /* background-image: linear-gradient(0deg, #4A7365 20%, #c6a344 40%,#4A7365 60%); */
  /* background-image: linear-gradient(110deg, #4A7365 -20%, #4A7365 0%,#333333); */
  /* background-image: linear-gradient(70deg, #333333, #333333 30%,#98ACA5); */
  /* background-image: linear-gradient(110deg, #333333, #333333 30%,#4A7365); */
  background-image: url(../assets/casestudyCardBackground2.jpg);
  background-position: center;
  background-size: cover;
  /* filter: blur(1px); */
  margin: 25px 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  'projectName'
  'projectPicture'
  'projectPicture'
  'projectPicture'
  '.';
}
.projectCard:hover{
  transform: scale(1.02);
  transition: transform 200ms ease 0s;
  cursor: pointer;
}

.projectCard:hover > .projectName h2 {
  transition: color 200ms ease 0s;
  /* color:#c6a344; */
}
/* .projectCard:hover {
  transition: color 200ms ease 0s;
  box-shadow: 2px 2px 4px #c6a344;
} */
.summary{
  display: none;
}
.summary p{
  margin: 0;
  width: 100%;
  background-color:rgba(196, 196, 196, 0.5);
  color: black;
  font-weight: bold;
  max-width: 90%;
}
.projectName{
  display: flex;
  flex-direction: column;
  /* background-color:rgba(196, 196, 196, 0.5); */
  margin: auto 50px;
}
.projectName>div{
  margin: auto;
  text-align: left;

}
.projectName h2{
  margin: 24px 0 0 0;
  font-size: 36px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  transition: color 200ms ease 0s;
}
.projectName small{
  position: relative;
  bottom: 10px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.closingStatement{
  min-height: 600px;
  background-color: #090909;
  color: white;
}
@media (min-width: 576px) {
  .caseStudyGrid {
    display: grid;
    grid-template-columns:1fr;
    grid-template-areas:
      'resilApp'
      'thisPortfolio'
      'oldPortfolio'
      'liteSku'
      'desertParadigm'
      'busyBus'
      'blocJams'
      'fate';
  }

  .projectCard{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'projectName'
    'projectPicture'
    'projectPicture'
    '.';
  }
}

@media (min-width: 768px) {
  .projectName{
    margin-left: 50px;
    display: inline;
  }
  .projectName h2{
    margin:0;
    font-size: 2.441em;
    }
  .caseStudyGrid {
    display: grid;
    grid-template-columns:1fr;
    grid-row-gap: 25px;
    grid-template-areas:
      'resilApp'
      'thisPortfolio'
      'oldPortfolio'
      'liteSku'
      'desertParadigm'
      'busyBus'
      'blocJams'
      'fate';
  }
  /* .projectPicture{
    display: inline-block;
    position: relative;
    top: 75px;
  } */
  .projectCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'projectName projectPicture'
    'projectName projectPicture'
    'projectName projectPicture'
    'summary summary';
  }
  .summary{
    display: inline;
  }
  .summary p{
    text-align: left;
    margin: auto 50px;
    padding: 25px;
  }
}

@media (min-width: 1024px) {
  .caseStudyGrid {
    display: grid;
    grid-template-columns: 1fr 10fr 10fr 1fr;
    grid-template-areas:
      '. resilApp resilApp resilApp'
      'thisPortfolio thisPortfolio thisPortfolio .'
      '. oldPortfolio oldPortfolio oldPortfolio'
      'liteSku liteSku liteSku .'
      '. desertParadigm desertParadigm desertParadigm'
      'busyBus busyBus busyBus .'
      '. blocJams blocJams blocJams'
      'fate fate fate .';
  }
  .introduction{
    display: flex;
  }
  .projectPicture{
  }
  .projectCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    'projectName projectPicture'
    'projectName projectPicture'
    'summary projectPicture';
  }
  .summary{
    /* margin: 0 0 25px 25px; */
  }
  .summary p{
  /* max-width: 450px; */
}
}

@media (min-width: 1400px) {
  .summary{
    display: flex;
    margin: 0;
  }
  .caseStudyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-template-areas:
      '. resilApp resilApp resilApp'
      'thisPortfolio thisPortfolio thisPortfolio .'
      '. oldPortfolio oldPortfolio oldPortfolio'
      'liteSku liteSku liteSku .'
      '. desertParadigm desertParadigm desertParadigm'
      'busyBus busyBus busyBus .'
      '. blocJams blocJams blocJams'
      'fate fate fate .';
      }
      .projectPicture{
        display: inline-block;
        position: relative;
        top: 25px;
  }
  .summary p{
    width: 70%;
  background-color:rgba(196, 196, 196, 0.5);
  padding: 50px;
}
  .projectCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    'summary projectPicture'
    'summary projectPicture'
    'summary projectName'
    ;
  }
  .projectName{
    margin-bottom: 25px;
  }
}


entries.forEach((item, i) => {
  if(item.intersectionRatio > .111){
    var elements = document.getElementById('bulbOn');
    console.log('elementcheck ', elements);
     // setTimeout(function(){ elements.beginElement(); }, 100);
     elements.beginElement();
     console.log('activated ', item.intersectionRatio );

  }
