

section {
width: 100%;
}
.one {
  /* background: tomato; */
width: 100%;
}
.two {
  /* background: teal; */
width: 100%;
}
.three {
  /* background: orange; */
width: 100%;
}
.four {
  /* background: green; */
width: 100%;
}
.two .right-half {
  /* background: #ddd; */
}
.four .right-half {
  /* background: #ddd; */
}
.right-half{
  -webkit-overflow-scrolling: touch;
position: relative;
left: 50vw;
width: 50%;
}
.left-half{
float: left;
  height: 100vh;
/* background-color: pink; */
position: sticky;
left: 0;
top: 100px;
transform: translateX(-50vw);
display: grid;
padding:0px;
}
.left-half content{
margin:auto;
}
.content{
padding: 0px;;
}
.pictureexample{
background: url(../assets/bench.jpeg);
background-repeat: no-repeat;
background-size: contain;
height: 500px;
background-position: center;
margin:auto;
}
.picturecontainer{
height: 100vh;
margin: auto;
transform: translateY(25%);
}
.designprocesshero{
background: url(../assets/desertparadigm/desertbackground.jpg);
background-attachment: fixed;
background-position: top;
background-size: cover;
height: 100vh;
}
@media only screen and (max-width: 1000px) {
  .content1 h1 {
color:white;
text-shadow: 2px 2px 4px #000000;
  }
  .content1 h3 {
color:white;
text-shadow: 2px 2px 4px #000000;
  }
}
