.articleAndCaseStudy {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    'locationViewer caseStudyContainer .';
  /* background-color: #D9DADF; */
}
.twoPictureRow{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.twoPictureRow>div{
  display: flex;
  flex-direction: column;
}
article{
  margin-bottom: 100px;
}
section{
  min-height: 100vh;
}
.menu {
  position: relative;
}
.gridContainer{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  grid-column-gap: 20px;
  margin: 10px;
}
/* .articleAndCaseStudy>div {
  padding: 0 20px;
} */
.underline {
  text-decoration: underline;
}

.article p {
  text-align: left;
  text-justify: inter-word;
  hyphens: auto;
  font-size: 16px;
  line-height: 1.3;
}

.article {
  position: sticky;
  display: flex;
}
.locationViewer {
  z-index: 2;
  display: flex;
  position: sticky;
  top: 0px;
  height: 80px;
  font-size: 16px;
  background-color: white;
  flex-wrap: wrap;
  padding: 0 25px 0 25px;
  color: #4A7365;
  text-decoration: none;
  font-size: 100%;
  overflow: hidden;
}

.locationViewer a {
  display: none;
}

.locationViewer .active {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.locationViewer .active {
  display flex;
}

.locationViewer .circle {
  display: none;
  background-color: gray;
  width: 20px;
  height: 20px;
  border-radius: 65px;
  margin: 25px 15px 25px 0px;
}

.locationViewer .active>.circle {
  display: block;
  background-color: #4b8a77;
  width: 30px;
  height: 30px;
  border-radius: 65px;
  margin: 25px 15px 25px 0px;
  text-align: center;
  font-size: .8rem;
  color: white;
  line-height: 30px;
}

.article footer {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  align-items: center;
  margin-bottom: 44px;
}

footer ul {
  text-align: center;
}

footer ul a {
  text-decoration: none;
  display: block;
  background-color: white;
  color: #4A7365;
  transition: color linear 0.15s;
  font-size: 22px;
  text-align: left;
  margin: 15px auto;
  padding: 8px 70px 8px 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}

a:hover {
  /* text-decoration: none; */
  transition: color linear 0.15s;
}

footer a:hover {
  /* text-decoration: none; */
  color: white;
  background-color: #333333;
}

footer img {
  display: flex;
  margin: 0 auto 44px auto;
  width: 75%;
}

footer sub {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.article section {
  margin:0 15px 0 15px;
  position: sticky;
  bottom: 0;
  align-self: flex-end;
}

.article h1 {
  /* margin-right: */
  font-size: 45px;
  margin: 50px 20px 0 20px;
}

.article .subhead {
  /* margin: 0 0 50px 0; */
  border-top: 1px solid black;
  margin-top: 10px;
  padding-top: 20px;
  text-indent: 0;
}

.article p {
  text-indent: 1em;
  margin: 0;
}

.article small {
  font-style: italic;
  margin-left: 20px;
  font-size: .8rem;
  ;
}

.subhead::first-letter {
  font-size: 570%;
  line-height: 80%;
  color: #4A7365;
  float: left;
  margin-right: 8px;
}

.PersonaCard {
  list-style-type: none;
  background-color: #75CEB4;
  width: 360px;
  /* display: flex; */
  /* flex-wrap: wrap; */
  justify-content: flex-start;
  font-size: 16px;
  padding: 25px;
  margin: 50px;
  border-radius: 25px;
}

.PersonaCard .InfoList {
  margin-left: 25px;
  line-height: 1.4;
}

.PersonaCard .Bio {
  flex: 1;
}

.PersonaCard .Picture svg {
  display: flex;
  margin: auto;
}

.PersonaCard h4 {
  margin-bottom: 6px;
}

.PersonaCard h5 {
  margin: 0;
}
.laptopContainer .laptopScreen img{
position: absolute;
top: 0px;
left:0px;
/* max-width: calc(100% - 20px); */
}
.laptopContainer{
  width: 100%;
}
.laptopScreen{
  position: relative;
  padding-top: 56.25%;
  background-color: #333333;
  overflow: hidden;
}
.laptopKeyboard{
  width: 100%;
  height: 20px;
  border-radius: 0 0 15px 15px;
  background-color: #333333;
}
.laptopMonitor{
  border-radius: 15px 15px 0 0 ;
  margin: 0 60px;
  padding: 20px 20px 35px 20px;
  background-color: #333333;
}
.mobileContainer {
  /* transform: scale(1.5); */
  padding: 17px 12px 13px 12px;
  background-color: gray;
  width: calc(180px * 1);
  border-radius: 30px;
}

.mobileContainer .topExtras {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  align-items: center;
}

.mobileContainer .topExtras .light {
  width: 15px;
  height: 15px;
  background-color: darkgray;
  border-radius: 25px;
  opacity: .15;
}

.mobileContainer .topExtras .speaker {
  width: 40px;
  height: 5px;
  background-color: white;
  border-radius: 15px;
  opacity: .2;
}

.mobileContainer .topExtras .camra {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 25px;
  opacity: .05;
}

.mobileContainer .bottomExtras {
  padding-top: 0px;
}

.mobileContainer .bottomExtras .unlock {
  display: flex;
  margin: auto;
  background-color: darkgray;
  border-radius: 4px;
  width: 23px;
  height: 23px;
}

.caseStudyContainer p {
  margin: 100px 0;
}

.caseStudyContainer .picture {
  display: flex;
  flex-direction: column;
}

.caseStudyContainer .Introduction {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}

.caseStudyContainer .Introduction .text {
  width: 50%;
  margin: auto 0;
}

.caseStudyContainer .Introduction img {
  width: calc(360px * .5);
  height: calc(640px * .5);
}

.caseStudyContainer .FlexContainer {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
  position:relative;
}

.caseStudyContainer img {
  width: 100%;
}

.caseStudyContainer sub {
  text-align: left;
}

.PersonaGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Goals {
  margin-bottom: 25px;
}

.Bio {
  margin-bottom: 25px;
}

/* User Story Table */
th {
  padding: 15px;
}

table {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

table td {
  padding: 4px;
  margin: 3px;
  border: 1px solid #CCC;
  vertical-align: middle;
}

table th {
  background-color: #205C65;
  color: #FFF;
  font-weight: bold;
}

.tableFirstrow {}

.tableSecondrow {
  background-color: #666666;
  color: white;
}

tr:hover {
  outline: 2px solid #205C65;
  outline-offset: -2px;
}

.tableborder {
  border-radius: 5px;
  overflow-x: hidden;
  border: 1px solid #205C65;
  width: 80%;
  margin: auto;
}

.spacer {
  height: 100px;
}

@media (min-width: 1px) {
  footer img {
    display: none;
  }

  .PersonaCard .FlexContainer .InfoList {
    margin: 0;
  }

  .PersonaCard .Picture {
    display: none;
    margin: 0;
  }

  .PersonaCard {
    margin: 0 0 50px 0;
    width: 100%;
  }

  .article small {
    margin: 0;
  }

  .article h1 {
    margin: 50px 0 0 0;
  }

  .article {
    position: relative;
  }

  .caseStudyContainer {
    /* word-wrap: break-word; */
  }

  .caseStudyContainer .Introduction .text {
    width: 100%;
  }

  .caseStudyContainer .Introduction {
    min-height: calc(100vh - 84px);
    display: block;
  }

  .caseStudyContainer .mobileContainer {
    /* display:none; */
    margin: 100px auto;
  }

  .caseStudyContainer h3 {
    text-align: center;
    margin-top: 250px;
    margin-bottom: 25px;
  }

  .caseStudyContainer h1 {
    font-size: 72px;
  }

  .articleAndCaseStudy {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'locationViewer'
      'caseStudyContainer'
      'article';
  }

}
  @media (min-width: 576px) {
    .locationViewer{
      flex-direction: column;
      flex-wrap: nowrap;
    }
    .article {
      position: relative;
      width: 360px;
      margin: auto;
    }

    .PersonaCard .Picture {
      display: block;
      margin: 0 20px 0 0;
    }

    .PersonaCard {
      margin: 25px 25px 50px 25px;
      width: 360px;
    }
  }

  @media (min-width: 768px) {
.gridContainer{
  grid-template-columns: 1fr  2fr;
}
    .locationViewer {
      position: fixed;
      width:calc(100% - 50px);
      top: 0px;
      height: 80px;
      display: flex;
      position: sticky;
      top: 0px;
      height: auto;
      font-size: 16px;
      background-color: white;
      flex-wrap: wrap;
      color: #4A7365;
      text-decoration: none;
      font-size: 100%;
      overflow: hidden;
      flex-direction: row;
      justify-content: space-between;
    }

    .locationViewer a {
      display: flex;
      flex-direction: column;
      font-size: 18px;
      line-height: calc(20px * 1.6);
      color: #777777;
      text-align: center;
      justify-content:  center;
    }

    .locationViewer .active {
      font-size: 20px;
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
    }

    .locationViewer .active {
      display flex;
    }

    .locationViewer .circle {
      display: block;
      background-color: lightgray;
      color:lightgray;
      text-decoration: inherit;
      width: 30px;
      height: 30px;
      border-radius: 65px;
      margin: 10px auto 0 auto;
      text-align:center;
      font-size: .8rem;
      line-height: 30px;
    }

    .locationViewer .active>.circle {
      margin: 10px auto 0 auto;
      display: block;
      background-color: #4b8a77;
      width: 30px;
      height: 30px;
      border-radius: 65px;
      text-align: center;
      font-size: .8rem;
      color: white;
      line-height: 30px;
    }


    .article {
      position: relative;
      width: 600px;
    }

    .caseStudyContainer p {
      margin: 100px 50px 100px 50px;
    }

    .PersonaCard .FlexContainer .InfoList {
      margin: 0;
    }

  }

  @media (min-width: 1024px) {
    .locationViewer a {
      margin:0 10px;
    }
    .locationViewer {
      display: flex;
      position: fixed;
      width:calc(100% - 50px);
      top: 0px;
      height: 80px;
      font-size: 16px;
      background-color: white;
      flex-wrap: wrap;
      color: #4A7365;
      text-decoration: none;
      font-size: 100%;
      overflow: hidden;
      flex-direction: row;
      justify-content: space-between;
    }
    .caseStudyContainer .picture {
      width: 950px;
      height: auto;
      margin: auto;
    }

    .caseStudyContainer p {
      width: 70%;
      margin: 100px auto;
  text-align: center;
    }

    .caseStudyContainer .Introduction .mobileContainer {
      margin: auto 100px;
    }

    .caseStudyContainer .Introduction .text {
      width: 50%;
    }

    .caseStudyContainer .Introduction {
      display: flex;
      justify-content: center;
    }

    .article footer {
      display: none;
    }
  }

  @media (min-width: 1400px) {
    .article footer {
      display: flex;
    }
footer ul{
  display: block;
margin: 0 auto;
}
    .caseStudyContainer p {
      width: 750px;
    }

    .caseStudyContainer .Introduction{
      padding-top: 0;
    }
    .caseStudyContainer .Introduction .text {
      width: 30%;
    }

    .locationViewer {
      display: flex;
      justify-content: center;
    }
    .PersonaGrid {
      width: 70%;
      margin: auto;
    }

    .locationViewer {
      position: fixed;
    }

    section {
      min-height: 100vh;
    }
  }
