

section {
width: 100%;
/* background: lightblue; */
display: grid;
grid-template-columns: 1fr 1fr;
}
.one {
  /* background: tomato; */
width: 100%;
display: grid;
grid-template-columns: 1fr 1fr;
}
.two {
  /* background: teal; */
width: 100%;
}
.three {
  /* background: orange; */
width: 100%;
}
.four {
  /* background: green; */
width: 100%;
}
.two .right-half {
  /* background: #ddd; */
}
.four .right-half {
  /* background: #ddd; */
}
.right-half{
  /* -webkit-overflow-scrolling: touch; */
/* position: relative; */
/* left: 50vw; */
/* width: 50%; */
/* background:pink; */
grid-column: 2;
/* transform: translateX(50vw); */
}
.left-half{
/* float: left; */
  height: calc(100vh - 100px);
overflow-y: hidden;
/* background-color: orange; */
position: sticky;
left: 0;
top: 100px;
/* transform: translateX(-50vw); */
display: grid;
padding:0px;


grid-column: 1;
}
.left-half content{
margin:auto;
}
.content{
padding: 0px;;
}
.pictureexample{
background: url(../assets/bench.jpeg);
background-repeat: no-repeat;
background-size: contain;
height: 500px;
background-position: center;
margin:auto;
}
.pictureexample{
background: url(../assets/bench.jpeg);
background-repeat: no-repeat;
background-size: contain;
height: 500px;
background-position: center;
margin:auto;
}
.rightHeightContainer{
/* height: 100vh;*/
min-height: calc(100vh - 100px);
margin: auto;
/* border: solid red 5px; */
display: grid;
align-items: center;
/* background-color: purple; */
}
.designprocesshero{
/* background: url(../assets/desertparadigm/desertbackground.jpg); */
background: url(../assets/desertparadigmlogo.png);
background-color: #2C2C33;
background-attachment: fixed;
background-position: center;
background-size: 50%;
background-repeat: no-repeat;
min-height: calc(100vh - 100px);
/* animation: 1s ease-out 0s 1 slidedown; */
}
.designprocesshero h1{
margin-left: 33%;
margin-right: 30%;
text-align: left;
font-size: 32px;
text-indent: 30px;
line-height: 1.6;

}

.DR0{
background: url(../assets/desertparadigm/DR/SWOTAnalysisBDOPlanner.png);
background-repeat: no-repeat;
background-size: contain;
height: 500px;
width: 80%;
/* border: 2px solid #205C65; */
border-radius: 5px;
background-position: center;
/* margin:auto; */
}
.DR1{
background: url(../assets/desertparadigm/DR/SurveyResults0.png);
background-repeat: no-repeat;
background-size: cover;
/* height: 500px; */
min-height: 70vh;
width: 80%;
background-position: center;
/* margin:auto; */
border: 2px solid #205C65;
width:80%;
border-radius: 5px;
}
.DR2{
background: url(../assets/desertparadigm/DR/SurveyResults1.png);
background-repeat: no-repeat;
background-size: cover;
height: 500px;
background-position: center;
/* margin:auto; */
border: 2px solid #205C65;
width:80%;
border-radius: 5px;
}
.IA0{
background: url(../assets/desertparadigm/IA/UserFlowDesertParadigmMedianMarketData.png);
background-repeat: no-repeat;
background-size: cover;
/* height: 500px; */
min-height: 70vh;
background-position: center;
/* margin:auto; */
border: 2px solid #205C65;
width:80%;
border-radius: 5px;
}
.IA1{
background: url(../assets/desertparadigm/IA/LandingPage.png);
background-repeat: no-repeat;
background-size: cover;
min-height: 70vh;
background-position: top;
/* margin:auto; */
border: 2px solid #205C65;
width:80%;
border-radius: 5px;
}
.IA2{
background: url(../assets/desertparadigm/IA/Alchemy.png);
background-repeat: no-repeat;
background-size: contain;
height: 500px;
background-size: cover;
background-position: top;
/* margin:auto; */
border: 2px solid #205C65;
width:80%;
border-radius: 5px;
}
.IA3{
background: url(../assets/desertparadigm/IA/Worker.png);
background-repeat: no-repeat;
background-size: cover;
height: 536px;
background-position: center;
/* margin:auto; */
border: 2px solid #205C65;
width:80%;
border-radius: 5px;
}
.VD0{
background: url(../assets/desertparadigm/VD/StartingOut.jpg);
background-repeat: no-repeat;
background-size: contain;
min-height: 50vh;
background-size: cover;
background-position: top;
/* margin:auto; */
border: 2px solid #205C65;
width:80%;
border-radius: 5px;
}
.VD1{
background: url(../assets/desertparadigm/VD/LogoExamples.jpg);
background-repeat: no-repeat;
background-size: contain;
height: 300px;
background-position: center;
/* margin:auto; */
border: 2px solid #205C65;
/* margin-left: 25px; */
/* margin-right: 25px; */
border-radius: 10px;
width: 80%;
}
.VD2{
background: url(../assets/desertparadigm/VD/Moodboard2.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 582px;
background-position: center;
/* margin:auto; */
border: 2px solid #205C65;
/* width:80%; */
border-radius: 5px;
/* margin-right: 5%; */
/* margin-left: 5%; */
width: 80%;
}
.VD3{
background: url(../assets/desertparadigm/VD/ColorPalette.png);
background-repeat: no-repeat;
background-size: contain;
height: 536px;
background-position: center;
/* margin:auto; */
border: 2px solid #205C65;
width:80%;
border-radius: 5px;
}
.VD4{
background: url(../assets/desertparadigm/VD/HFMockup0.png);
background-repeat: no-repeat;
background-size: cover;
height: 536px;
background-position: center;
/* margin:auto; */
border: 2px solid #205C65;
width:80%;
border-radius: 5px;
}
.VD5{
background: url(../assets/desertparadigm/VD/HFMockup1.png);
background-repeat: no-repeat;
background-size: cover;
height: 536px;
background-position: center;
/* margin:auto; */
border: 2px solid #205C65;
width:80%;
border-radius: 5px;
}
.VD6{
background: url(../assets/desertparadigm/VD/HFMockup2.png);
background-repeat: no-repeat;
background-size: cover;
height: 536px;
background-position: center;
/* margin:auto; */
border: 2px solid #205C65;
width:80%;
border-radius: 5px;
}
.PT0{
background: url(../assets/desertparadigm/PT/PrototypeLanding.jpg);
background-repeat: no-repeat;
background-size: contain;
height: 800px;
background-position: center;
/* margin:auto; */
/* border: 5px solid #205C65; */
width:80%;
border-radius: 5px;
}
.PT1{
background: url(../assets/desertparadigm/PT/preferencetesting.png);
background-repeat: no-repeat;
background-size: cover;
height: 393px;
background-position: center;
/* margin:auto; */
border: 2px solid #205C65;
width:80%;
border-radius: 10px;
}
.PT2{
background: url(../assets/desertparadigm/PT/desertparadigmlogo.png);
background-repeat: no-repeat;
background-size: contain;
height: 500px;
background-position: center;
/* margin:auto; */
/* border: 2px solid #205C65; */
width:80%;
border-radius: 5px;
}

.personacontainer{
width: 80%;
/* margin: 0 auto; */
/* height: calc(80vh - 100px); */
min-height:  calc(80vh - 100px);
/* max-height:  calc(80vh - 200px); */
/* margin-top: 10%; */
/* margin-bottom: 10%; */
overflow: hidden;
}
.tableborder{
  width: 80%;
  /* margin: 0 auto; */
  /* height: calc(80vh - 100px); */
  /* min-height:  calc(80vh - 100px); */
  /* margin-top: 10%; */
  /* margin-bottom: 10%; */
}
.rightBorder{
border: 2px solid #205c65;
}
.four .rightHeightContainer{
/* display: block; */
}
.rightHeightContainer h1{
margin: 0 auto;
padding: 0;
position: relative;
color: white;
margin-top: 15px;
margin-bottom: 15px;

}
@media only screen and (max-width: 1250px) {
  .content1 h1 {
color:white;
text-shadow: 2px 2px 4px #000000;
font-size: 24px;
  }
  .content1 h3 {
color:white;
text-shadow: 2px 2px 4px #000000;
  }
}
@media only screen and (max-width: 1000px) {
  .content1 h1 {
color:white;
text-shadow: 2px 2px 4px #000000;
display: none;
  }
  .content1 h3 {
color:white;
text-shadow: 2px 2px 4px #000000;
  }
}
body{
margin-top: 0px;
}
.PictureBackground{
/* display: grid;
grid-template-rows: auto auto;
background-color: #205c65;
border-radius: 25px;
margin-right: 10%; */
}
/* .PictureTitle{
display: grid;
grid-template-columns: 1fr auto 1fr;
} */
/* .projectswish{
background-image:url(../assets/projectswish.png);
background-repeat: no-repeat;
background-size: contain;
} */
.PictureTitleName h2{
/* background-color: #205c65; */
color: #3c3c3c;
}
.hflip{
transform: scaleX(-1);
position: relative;
/* top: 1px; */
}
