html {
  font-size: 150%;
}

/*16px*/
body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333333;
}
.bodygrid {
  display: grid;
  grid-template-areas:
    'nav'
    'section1'
    'section2'
    'section3'
    'section5'
    'section4';
}
.myPicture{
  width: 300px;
  margin: auto;
}
.myPicture h4{
color: #4A7365;
}
p {
  margin-bottom: 1.15rem;
}
sub{
  font-size: .7em;
}
h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
  line-height: 1.15;
  color: black;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
  font-weight: 600;
  margin-top: 0px;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
  font-weight: 600;
}

small, .text_small {
  font-size: 0.8em;
}

.section1 {
  padding: 40px 15px;
  grid-area: section1;
  user-select: none;
  display: flex;
  /* margin-top: 50px; */
}

.section1 .hvcenter {
  flex: .8;
}
.section1 .content{
  display: none;
}
.home {
  display: flex;
  background-image: url(../assets/personallogo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75px;
  width: 75px;
  margin-right: 5%;
}

.section2 {
  padding: 44px 15px;
}

.section2 h2 {
  margin-bottom: 44px;
}

.section2 h5 {
  margin-top: 16.8px;
}

.section2 .body {
  margin-bottom: 44px;
}

.section3 {
  grid-area: section3;
  background-color: #090909;
  color: #979797;
  padding: 44px 15px;
}

.section3 h2 {
  color: #FFFFFF;
}

.section3 h5 {
  color: #FFFFFF;
}

.section4 {
  grid-area: section4;
  padding: 44px 15px;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.section5 {
  background-color: #4A7365;
  color: #ffffff;
  text-align: center;
  position: sticky;
  top: 1rem;
}

.section5 h1 {
  color: #ffffff;
margin: 44px 25px 50px 25px;
}

.section5 ul {
  display: flex;
  width: inherit;
  flex: 1;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 25px;
  padding-bottom: calc(44px - 25px);
}

.section5 a {
  background-color: #ffc31f;
  padding: 5px 25px;
  color: black;
  text-decoration: none;
  user-select: none;
  min-width: 220px;
  border-radius: 3px;
  margin-bottom: 25px;
}

.hvcenter {
  margin: auto;
  padding-top: 44px;
}

.picture {
  grid-area: picture;
  text-align: left;
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
}

.title {
  grid-area: title;
}

.hiddenMobile {
  display: none;
  height: 100px
  top: 20px;
}
.visibleMobile {
  display: flex;
  height: 100px;
  top: -10px;
}

.serviceContainer {
  display: grid;
  grid-area: serviceContainer;
  grid-template-areas:
    'picture'
    'header'
    'body';
}

.principlesContainer {
  grid-area: principlesContainer;
  display: grid;
  grid-template-areas:
    'header'
    'body';
}

.aspectRatioContainerInner {
  display: none;
}

@media (min-width: 576px) {
  .sectionPadding {
    padding: 140px 5%;
  }

  .serviceContainer {
    grid-template-areas:
      'picture header'
      'picture body';
    justify-content: flex-start;
    grid-column-gap: 30px;
  }
  .myPicture{
    margin: auto;
  }
}

@media (min-width: 768px) {
  .section1 {
    display: flex;
    /* background-image: linear-gradient(90deg, #ffffff 35%, #A9AFB5E0, #A9AFB5); */
    background-image: linear-gradient(90deg, #ffffff 5%, #C7CAD5, #C7CAD5);
    justify-content: space-around;
  }
  .section1 h3 {
    font-size: calc(100vw/25);
    margin: 0 0 1.05rem;
    /* text-shadow: 2px 2px 4px #000000 */
  }

  .section1 .body {
    width: 500px;
  }

  .screen1 {
    grid-area: screen1;
  }

  .screen1>div {
    visibility: hidden;
    opacity: 0;
  }

  .screen1:hover>div {
    visibility: visible;
    transition: opacity 0.8s;
    opacity: 1;
    width: 640px;
  }

  .screen2 {
    grid-area: screen2;
  }

  .screen2>div {
    visibility: hidden;
    opacity: 0;
  }

  .screen2:hover>div {
    visibility: visible;
    transition: opacity 0.8s;
    opacity: 1;
    width: 570px;
  }

  .indexCards {
    grid-area: indexCards;
  }

  .indexCards>div {
    visibility: hidden;
    opacity: 0;
  }

  .indexCards:hover>div {
    visibility: visible;
    transition: opacity 0.8s;
    opacity: 1;
    width: 500px;
  }

  .mouseKeyboard {
    grid-area: mouseKeyboard;
  }

  .mouseKeyboard>div {
    visibility: hidden;
    opacity: 0;
  }

  .mouseKeyboard:hover>div {
    visibility: visible;
    opacity: 1;
    width: 480px;
  }

  .paperRulers {
    grid-area: paperRulers;
  }

  .paperRulers>div {
    visibility: hidden;
    opacity: 0;
  }

  .paperRulers:hover>div {
    visibility: visible;
    width: 575px;
    opacity: 1;
  }

  .manualDrafting {
    grid-area: manualDrafting;
  }

  .manualDrafting>div {
    visibility: hidden;
    width: 425px;
    opacity: 0;
  }

  .manualDrafting:hover>div {
    visibility: visible;
    opacity: 1;
  }

  .text1 {
    grid-area: text1;
  }

  .areaInfo {
    transition: opacity 0.8s;
    position: absolute;
    top: 30%;
    left: -500px;
    padding: 10px 20px;
    /* color: #444444;
    background-color: #EEEEEE; */
    color: #979797;
    background-color: #444444;
    z-index: 1;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .5);
  }

  .rolodex {
    grid-area: rolodex;
  }

  .rolodex>div {
    visibility: hidden;
    opacity: 0;
  }

  .rolodex:hover>div {
    visibility: visible;
    opacity: 1;
    width: 470px;
  }

  .serviceContainer {
    grid-template-areas:
      'picture header'
      'picture body';
  }
  .section3 .horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .principlesContainer {
    width: 45%;
  }
  .section5 ul{
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .hiddenMobile {
    display: flex;
    justify-content: space-between;
  }
  .visibleMobile {
    display: none;
  }

  .horizontal {
    display: flex;
    justify-content: space-between;
  }

  .section1 .content {
    width: 500px;
    display: inline-block;
    margin-right: 30px;
  }

  .section1 .picture {
    width: 700px;
  }

  .aspectRatioContainer {
    position: relative;
    width: 100%;
    padding-top: 82.22%;
    background-image: url(../assets/davidsDesk.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .aspectRatioContainerInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'screen1 screen1 screen1 screen1 screen1 screen1 . screen2 screen2 screen2 screen2 screen2'
      'screen1 screen1 screen1 screen1 screen1 screen1 . screen2 screen2 screen2 screen2 screen2'
      'screen1 screen1 screen1 screen1 screen1 screen1 . screen2 screen2 screen2 screen2 screen2'
      '. . . . indexCards indexCards indexCards indexCards paperRulers paperRulers paperRulers paperRulers'
      'text1 text1 text1 text1 indexCards indexCards indexCards indexCards paperRulers paperRulers paperRulers paperRulers'
      'text1 text1 text1 text1 indexCards indexCards indexCards indexCards paperRulers paperRulers paperRulers paperRulers'
      '. . .  manualDrafting  manualDrafting  manualDrafting areaInfo areaInfo paperRulers paperRulers paperRulers paperRulers'
      'rolodex . .  manualDrafting  manualDrafting  manualDrafting areaInfo areaInfo . . . .'
      'rolodex . .  manualDrafting  manualDrafting  manualDrafting areaInfo areaInfo . . . .'
      '. . mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard'
      '. . mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard'
      '. . mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard';
  }

  .section2 h5 {
    text-align: center;
  }

  .section3 {
    display: flex;
  }

  .section3 h2 {
    margin: 44px 10% 0 0;
  }

  .section3 .horizontal {
    flex-wrap: wrap;
  }

  .section5 {
    display: flex;
  }

  .principlesContainer {
    width: 45%;
  }
  .serviceContainer .picture {
    position: relative;
    top: 50%;
    transform: scale(1.5);
    height: calc(150px * 1.5);
    margin:  auto;
  }

  .serviceContainer {
    flex-basis: 30%;
    grid-template-areas:
      'picture'
      'header'
      'body';
  }
}

@media (min-width: 1400px) {
  .section1 {
    /* margin: 0 25px; */
  }
}

/*----- Toggle Button -----*/
.toggle-nav {
  display: none;
}

div>h4 {
  margin: 0px;
}
.hiddenMobile h5 {
  margin: 0px;
}

/*----- Menu -----*/
@media screen and (min-width: 860px) {
  .menu {
    padding: 20px 5%;
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
  }
}

.menu img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
}

.menu div {
  margin: auto 0;
}

.menu li {
  margin: 0px 20px 0px 0px;
  float: left;
  list-style: none;
}

.menu li:last-child {
  margin-right: 0px;
}

.menu a {
  color: #777;
  transition: color linear 0.15s;
}

.menu a:hover, .menu .current-item a {
  text-decoration: none;
  color: #4A7365;
}

/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
  .wrap {
    width: 90%;
  }
}

@media screen and (max-width: 970px) {
  .search-form input {
    width: 120px;
  }
}

@media screen and (max-width: 860px) {
  .menu {
    position: relative;
    display: inline-block;
  }

  .menu ul.active {
    display: none;
  }

  .menu ul {
    position: absolute;
    top: 120%;
    left: 0px;
    padding: 10px 18px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
    width: max-content;
  }

  .menu ul:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    left: 22px;
    content: '';
    transform: translate(0%, -100%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #303030;
  }

  .menu li {
    margin: 5px 0px 5px 0px;
    float: none;
    display: block;
  }

  .menu a {
    display: block;
  }

  .toggle-nav {
    padding: 20px;
    float: left;
    display: inline-block;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
    color: #777;
    transition: color linear 0.15s;
    text-decoration: none;
  }

  .toggle-nav:hover, .toggle-nav.active {
    text-decoration: none;
    color: #66a992;
  }
