li {
display: inline;
text-align: right;
}
.biography{

}
header{
height: 100px;
display: flex;
justify-content: center;
align-items: center;
background-color: lightblue;
position: fixed;
margin-top: -100px;
width: 100%;
}
footer{
display: flex;
justify-content: center;
align-items: center;
background-color: lightblue;
height: 75px;
}
.alignright{
background-color: orange;
width: 76%;
text-align: right;
}
.alignleft{
background-color: red;
text-align: center;
width: 24%;
}
.hero{
margin-top: 100px;
height: 400px;
background-color: lightgray;
display: grid;
}
.projectcard{
width: 80%;
margin-left: 10%;
margin-right: 10%;
margin-top: 50px;
margin-bottom: 50px;
height: 300px;
background-color: pink;
resize:horizontal;
overflow: auto;
border: 1px black solid;
box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
display: grid;
grid-template-columns: 30% 70%;
}
.projectdesc{
background-color: #27737D;
height: 300px;
}
.projectpicture{
height: 300px;
background-image: url(../assets/projectswish.png) , url(../assets/racecar.jpg);
background-repeat: no-repeat;
background-size: contain , cover;
}
h1{
font-size: 36px;
text-align: center;
margin-top: 18px;
}
p {
text-align: center;
margin-top: 18px;
margin-left: 25%;
margin-right: 25%;
}
.designprocess{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 180px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
}
