
html{
  position: relative;
  min-height: 100%;
}
body{
  margin-top:250px;
  margin-bottom: 125px;
}
header li {
  display: inline;
  text-align: right;
}
header a {
  color: #CDA74E;
  color: #f9a825;
  text-decoration: none;
  transition: all .3s ease;
  white-space: nowrap;
}
#headername{
  color: white;
}
header a:hover{
  box-shadow:
  0px 1px #53a7ea,
  0px 2px #53a7ea,
  0px 3px #53a7ea;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
header a:active{
  position: relative;
  top: 1px;
}
footer i{
  transition: all .3s ease;
  white-space: nowrap;
}
footer i:hover{
  color: red;
  box-shadow:
  0px 1px #53a7ea,
  0px 2px #53a7ea,
  0px 3px #53a7ea;
  -webkit-transform: translateX(-1px);
  transform: translateX(-1px);
}
.personallogo:hover {
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 3s, transform .2s;
  -webkit-transform: rotate(360deg); /* Safari */
  transform: rotate(360deg);
  box-shadow: none;
}
header{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #205C65;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
  font-family: Roboto Slab;

}
header ul{
  font-size: 20px;
  color: #ffffff;
  white-space: nowrap;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #205C65;
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0px; left: 0;
  white-space: nowrap;
}
footer li {
  display: inline;
  text-align: right;
}
header .alignright{
  float: left;
  width: 75%;
  text-align: right;
}
header .alignright a{
  margin-right: 3%;
}
header .alignleft{
  display: flex;
  align-items:center;
  float: left;
  width: 25%;
  padding-left: 20px;
}
header .aligncenter{
  float: left;
  text-align: center;
  width: 0%;
}
.hero{
  background-image: url(../assets/dock.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 100px;
  height: 400px;
  background-color: #ffffff;
  display: grid;
}
.projectcard{
  width: 50%;
  height: 200px;
  /* resize:horizontal; */
  /* min-width: 961px; */
  min-width: 710px;
  overflow: auto;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 65fr 45fr;
  background-color: #205C65;
  margin:50px auto;
}
.projectcard ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.projectbuttons{
  display: inline-block;
  width: 100%;
  height: 100%;
  grid-column: span 2;

}
.projectdesc{
  /* height: 300px; */
  position: relative;
  left: -10%;
  /* background-color: #f3f6f8; */
  background-color: #205C65;
  grid-row: span 2;
}
.projectpicture{
  /* height: 300px; */
  background-color: #205C65;
  background-image: url(../assets/projectswish.png) , url(../assets/desertparadigm.png);
  background-repeat: no-repeat;
  background-position: left, 0% 25%;
  background-size: contain , cover;
  /* box-shadow: inset -8px 0 35px rgba(32,92,101),inset 0 8px 35px rgba(32,92,101),inset 0 -8px 35px rgba(32,92,101); */
}
.projectpicture2{
  /* height: 300px; */
  background-image: url(../assets/projectswish.png) , url(../assets/blocjams.png);
  background-repeat: no-repeat;
  background-size: contain , cover;
  /* box-shadow: inset -8px 0 35px rgba(32,92,101),inset 0 8px 35px rgba(32,92,101),inset 0 -8px 35px rgba(32,92,101); */
}
.projectpicture3{
  height: 300px;
  background-image: url(../assets/projectswish.png) , url(../assets/bench.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-position: left;
  background-size: contain , cover;

}
h1{
  font-size: 36px;
  text-align: center;
  margin-top: 18px;
  font-family: Roboto Slab;
}
.projectdesc h2 {
  margin-top: 40px;
  text-align: center;
  position: relative;
  left: 20%;
  white-space: nowrap;
  font-size: 48px;
  /* font-size: 3em; */
  margin-bottom: 25px;
}
.projectdesc h3 {
  position: relative;
  left: 20%;
  margin-top: 10px;
  white-space: nowrap;
}
.projectdesc a {
  text-align: center;
}
h2{
  color: #ffffff;
  font-family: Roboto slab;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
}
h3{
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
p {
  text-align: left;
  margin-top: 18px;
  margin-left: 25%;
  margin-right: 25%;
}
.biography p{
  margin: 0 auto;
  /* min-width: 640px; */
  max-width: 650px;
  margin-bottom: 20px;
  margin-top: 18px;
  font-size: 1em;
  line-height: 1.6;
  font-family: Roboto;
  /* text-indent: 50px; */
  color:#333333;
}
.designprocess h2{
  font-size: 48px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  line-height: 1.2;
}
.designprocess2 h2{
  color: #f9a825;
  font-size: 48px;
  text-shadow: 3px 3px 4px #000000;
  text-align: center;
  line-height: 1.2;
}
.designprocess3 h2{
  color: #ffffff;
  font-size: 48px;
  /* text-shadow: 2px 2px 8px #205C65; */
  color: #EA2B2B;
  text-shadow: 2px 2px 4px #000000;
  transform: rotate(-30deg);
  position: relative;
  left: 23%;

}
.designprocess4 h2{
  color: #000000;
  font-size: 48px;
  /* text-shadow: 2px 2px 4px white; */
  text-align: center;
  line-height: 120%;
  line-height: 1.2;
  /* color: white;
  mix-blend-mode: exclusion; */
  background-image:url(../assets/designprocess/finalprototype.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background: inherit;
  width: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  filter: invert(1) sepia(1) drop-shadow(-1px -1px 1px black);
  color: transparent;
}
.designprocesscontainer{
  width: 50%;
  max-height: 0px;
  margin: 0 auto;
  border-radius: 1px solid black;
  overflow: hidden;
  /* border-radius: 10px 10px 10px 10px; */
  -webkit-transition: max-height 1s, width .35s;
  -moz-transition: max-height 1s, width .35s;
  -ms-transition: max-height 1s, width .35s;
  -o-transition: max-height 1s, width .35s;
  transition: max-height 1s, width .35s;
}

.designprocesscontainer2{
  width: 50%;
  max-height: 0px;
  margin: 0 auto;
  border-radius: 1px solid black;
  overflow: hidden;
  /* border-radius: 10px 10px 10px 10px; */
  -webkit-transition: max-height 1s, width .35s;
  -moz-transition: max-height 1s, width .35s;
  -ms-transition: max-height 1s, width .35s;
  -o-transition: max-height 1s, width .35s;
  transition: max-height 1s, width .35s;
}
.designprocesscontainer3{
  width: 50%;
  max-height: 0px;
  margin: 0 auto;
  border-radius: 1px solid black;
  overflow: hidden;
  /* border-radius: 10px 10px 10px 10px; */
  -webkit-transition: max-height 1s, width .35s;
  -moz-transition: max-height 1s, width .35s;
  -ms-transition: max-height 1s, width .35s;
  -o-transition: max-height 1s, width .35s;
  transition: max-height 1s, width .35s;
}
.designprocesscontainer4{
  width: 50%;
  max-height: 0px;
  margin: 0 auto;
  border-radius: 1px solid black;
  overflow: hidden;
  /* border-radius: 10px 10px 10px 10px; */
  -webkit-transition: max-height 1s, width .35s;
  -moz-transition: max-height 1s, width .35s;
  -ms-transition: max-height 1s, width .35s;
  -o-transition: max-height 1s, width .35s;
  transition: max-height 1s, width .35s border-radius 1s;

}
#designprocessbutton:checked ~ .designprocesscontainer{
  width: 95%;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 3s, transform 1s;
  -webkit-transform: rotate(0deg); /* Safari */
  transform: rotate(0deg);
  overflow:hidden;
  max-height: 4500px;
  border: 1px black solid;
  border-top: 0px;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
  -webkit-transition: max-height 5s, width 2s;
  -moz-transition: max-height 5s, width 2s;
  -ms-transition: max-height 5s, width 2s;
  -o-transition: max-height 5s, width 2s;
  transition: max-height 5s, width 2s;
}

#designprocessbutton2:checked ~ .designprocesscontainer2{
  width: 95%;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 3s, transform 1s;
  -webkit-transform: rotate(0deg); /* Safari */
  transform: rotate(0deg);
  overflow:hidden;
  max-height: 4500px;
  border: 1px black solid;
  border-top: 0px;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
  -webkit-transition: max-height 5s, width 2s;
  -moz-transition: max-height 5s, width 2s;
  -ms-transition: max-height 5s, width 2s;
  -o-transition: max-height 5s, width 2s;
  transition: max-height 5s, width 2s;
}
#designprocessbutton3:checked ~ .designprocesscontainer3{
  width: 95%;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 3s, transform 1s;
  -webkit-transform: rotate(0deg); /* Safari */
  transform: rotate(0deg);
  overflow:hidden;
  max-height: 4500px;
  border: 1px black solid;
  border-top: 0px;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
  -webkit-transition: max-height 5s, width 2s;
  -moz-transition: max-height 5s, width 2s;
  -ms-transition: max-height 5s, width 2s;
  -o-transition: max-height 5s, width 2s;
  transition: max-height 5s, width 2s;
}
#designprocessbutton4:checked ~ .designprocesscontainer4{
  width: 95%;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
  transition: width 2s, height 3s, transform 1s;
  -webkit-transform: rotate(0deg); /* Safari */
  transform: rotate(0deg);
  overflow:hidden;
  max-height: 4500px;
  border: 1px black solid;
  border-top: 0px;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 10px 10px;
  -webkit-transition: max-height 5s, width 2s;
  -moz-transition: max-height 5s, width 2s;
  -ms-transition: max-height 5s, width 2s;
  -o-transition: max-height 5s, width 2s;
  transition: max-height 5s, width 2s;
}
.designprocess{
  width: 50%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  -webkit-box-shadow:
  3px 3px rgba(128,128,128,1),
  4px 4px rgba(118,118,118,1),
  5px 5px rgba(108,108,108,1),
  6px 6px rgba(98,98,98,1),
  7px 7px rgba(88,88,88,1),
  8px 8px rgba(78,78,78,1),
  14px 14px 6px -1px rgba(128,128,128,1);
  background-image:url(../assets/discoveryandresearch2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor:pointer;
  z-index: 1;
  filter: grayscale(0%);
  border-radius: 10px 10px 10px 10px;
  -webkit-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  -moz-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  -ms-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  -o-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  margin: 0 auto;
  margin-top: 50px;
}
/* .designprocess:hover{
-webkit-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
-moz-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
-ms-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
-o-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
-webkit-box-shadow:
3px 3px rgba(128,128,128,1),
4px 4px rgba(118,118,118,1),
5px 5px rgba(108,108,108,1),
6px 6px rgba(98,98,98,1),
7px 7px rgba(88,88,88,1),
8px 8px rgba(78,78,78,1),
14px 14px 6px -1px rgba(128,128,128,1),
inset 0px 0px 0px 10px red;
} */
.designprocess2{
  width: 50%;
  margin: 0 auto;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  -webkit-box-shadow:
  3px 3px rgba(128,128,128,1),
  4px 4px rgba(118,118,118,1),
  5px 5px rgba(108,108,108,1),
  6px 6px rgba(98,98,98,1),
  7px 7px rgba(88,88,88,1),
  8px 8px rgba(78,78,78,1),
  14px 14px 6px -1px rgba(128,128,128,1);
  background-image:url(../assets/wall.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0,0,0,0);
  cursor:pointer;
  z-index: 1;
  border-radius: 10px 10px 10px 10px;
  -webkit-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  -moz-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  -ms-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  -o-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  margin: 0 auto;
  margin-top: 50px;
}
.designprocess3{
  width: 50%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  -webkit-box-shadow:
  3px 3px rgba(128,128,128,1),
  4px 4px rgba(118,118,118,1),
  5px 5px rgba(108,108,108,1),
  6px 6px rgba(98,98,98,1),
  7px 7px rgba(88,88,88,1),
  8px 8px rgba(78,78,78,1),
  14px 14px 6px -1px rgba(128,128,128,1);
  background-image:url(../assets/visualdesign.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor:pointer;
  z-index: 1;
  border-radius: 10px 10px 10px 10px;
  -webkit-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  -moz-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  -ms-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  -o-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  margin: 0 auto;
  margin-top: 50px;
}
.designprocess4{
  color: red;
  width: 50%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  -webkit-box-shadow:
  3px 3px rgba(128,128,128,1),
  4px 4px rgba(118,118,118,1),
  5px 5px rgba(108,108,108,1),
  6px 6px rgba(98,98,98,1),
  7px 7px rgba(88,88,88,1),
  8px 8px rgba(78,78,78,1),
  14px 14px 6px -1px rgba(128,128,128,1);
  background-image:url(../assets/finalprototype.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: 50% 45%;
  cursor:pointer;
  z-index: 1;
  border-radius: 10px 10px 10px 10px;
  -webkit-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  -moz-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  -ms-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  -o-transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  transition: max-height 1s, width .35s, border-radius 1s, box-shadow 2s 1s;
  margin: 0 auto;
  margin-top: 50px;
}

.projectcardbutton {
  -moz-box-shadow:inset 0px 1px 0px 0px #23395e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #23395e;
  box-shadow:inset 0px 1px 0px 0px #23395e;
  background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
  background-color:#2e466e;
  border-radius:20px 0px 0px 20px;
  border:1px solid #1f2f47;
  cursor:pointer;
  color:#ffffff;
  font-family:Roboto;
  font-size:16px;
  font-weight:bold;
  padding:16px 0px;
  text-decoration: none;
  text-shadow:0px 1px 0px #263666;
  width: 55%;
  text-align: center;
}
.projectcardbutton:hover {
  background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
  background-color:#415989;
}
.projectcardbutton:active {
  position:relative;
  top: 2px;
}
#designprocessbutton:checked + label{
  width: 95.01%;
  -webkit-transition: width 2s, height 5s, -webkit-transform 2s;
  transition: width 2s, height 5s, transform 2s;
  margin: 0 auto;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
}
#designprocessbutton2:checked + label{
  width: 95.01%;
  -webkit-transition: width 2s, height 5s, -webkit-transform 2s;
  transition: width 2s, height 5s, transform 2s;
  margin: 0 auto;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
}
#designprocessbutton3:checked + label{
  width: 95.01%;
  -webkit-transition: width 2s, height 5s, -webkit-transform 2s;
  transition: width 2s, height 5s, transform 2s;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px 10px 0px 0px;
}
#designprocessbutton4:checked + label{
  width: 95.01%;
  -webkit-transition: width 2s, height 5s, -webkit-transform 2s;
  transition: width 2s, height 5s, transform 2s;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 10px 10px 0px 0px;
}
#designprocessbutton{
  display: none;
}
#designprocessbutton2{
  display: none;
}
#designprocessbutton3{
  display: none;
}
#designprocessbutton4{
  display: none;
}

footer .alignright{
  width: 24%;
  text-align: right;
  margin-right: 5%;
}

footer .alignleft{
  display: flex;
  align-items: left;
  width: 24%;
  padding-left: 20px;
}

footer .aligncenter{
  text-align: center;
  width: 50%;
}

footer i{
  color: #f9a825;
  font-size: 32px;
  margin: 0px 15px 0px 15px;
}

footer li{
  color: white;
}

.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  display: none;
}

.row {
  display: flex;
}

.row .col {
  flex: 1;
}
.col{
  background-color: #3d3d3d;
  border-radius: 0 0 10px 10px;
}
.row .col:last-child {
  margin-left: 1em;
}

.tabs {
  border-radius: 0px 0px 15px 15px;
  /* background-color: #3d3d3d; */
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #2d2d2d;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}

.tab-label:hover {
  background: #205c65;
}

.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all .75s;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #333333;
  background: white;
  transition: all 0.75s;
}

.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #3d3d3d;
  cursor: pointer;
}

.tab-close:hover {
  background: #677C8D;
}

input:checked + .tab-label {
  background: #205c65;
}

input:checked + .tab-label::after {
  transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 230vh;
  padding: 1em;
}
.hero h1{
  font-size: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 4px 4px 4px black;
  margin: 20px;
}
.herobox h2{
  font-size: 2.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 4px 4px 4px black;
  margin: 25px 15px;
}
.herobox{
  /* height: 100px; */
  border-top: none;
  background-color: #205C65;
  opacity: .8;
  border-radius: 0 0 10px 10px;
  position: absolute;
  top: 100px;
  left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.herobox a {
  color: #CDA74E;
  color: #f9a825;
  text-decoration: none;
  transition: all .3s ease;
  white-space: nowrap;
}
.herobox a:hover{
  box-shadow:
  /* 0px 1px #53a7ea,
  0px 2px #53a7ea,
  0px 3px #53a7ea; */
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
.herobox a:active{
  position: relative;
  top: 1px;
}
.nohighlight{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}
@media (min-width: 320px) {
  footer{
    white-space: normal;
  }
  .casestudycontentgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    width: 100%;
  }
}
.personacontainer{
  border: 2px solid #205C65;
  border-radius: 5px;
  padding:5%;
  background-color: #DDDDDD;
}
.personacontainer li{
  display: block;
  line-height: 1.5;
}
.personacontainer h2{
  color: inherit;
}
.biography{
}
.tab-content{
  display: flex;
  display: grid;
  grid-template-columns:auto 640px;
  background-color: #eae4e1;
  z-index: -1;
}
.tab-content ul{
  border: 3px solid #205C65;
  border-radius: 5px;
  margin-right: 25px;
  font-size: calc(0px + 1.5vw);
  background-color: white;
  max-height: calc(650px + 20%);
  max-height: 100%;
  display:grid;
  grid-template-columns: 1fr 9fr;
  align-items: center;
  overflow: hidden;
  grid-row-gap: 35px;
}
.tab-content ul li{
  line-height: 1.5;
  text-align: left;
  margin-right: 25px;
  margin-top: 35px;
  margin-bottom: 35px;
  overflow: hidden;
}
.tab-content ul i{
  margin-right: 30px;
  color: #205C65;
  text-align: right;
  margin-left: 10px;
  margin-top: 35px;
  margin-bottom: 35px;
  overflow: hidden;
}
.tab-content img{
  border-radius: 5px;
  width: 600px;
  align-self: center;
  border: 1px solid #205C65;
  background-color: white;
  padding: 20px;

}
th{
  padding: 15px;
}
table{
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
table td {
  padding: 4px;
  margin: 3px;
  border: 1px solid #CCC;
  vertical-align: middle;
}
table th {
  background-color: #205C65;
  color: #FFF;
  font-weight: bold;
}
.tableFirstrow{
}
.tableSecondrow{
  background-color:#666666;
  color: white;
}
tr:hover{
  outline: 2px solid #205C65;
  outline-offset: -2px;
}
.tableborder{
  border-radius: 5px;
  overflow-x: hidden;
  border: 1px solid #205C65;
}
.spacer{
  height: 100px;
}
.problemsolution{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 300px;
  /* border: 3px blue solid; */
}
.problemsolution h1{
  font-family: 'Roboto Slab', serif;
}
.problemsolution h3{
  color: black;
  margin: 0 auto;
  margin-top: 25px;
  width: 80%;
  line-height: 1.7;
  text-align: left;
  text-indent: 30px;
}
.problem{
  background-color: #E2CFC7;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.problem h1{
  margin: 0 auto;
}
.solution{
  background-color: #EDD8D1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.solution h1{
  margin: 0 auto;
}
.content{
  /* height: 350px; */
  /* background-color: #E3ECF1; */
  color: #2d2d2d;
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: center;
  align-items:  center;
  flex-direction: column;
  /* padding-top: 100px; */
  padding-bottom: 100px;
}
.content h3{
  color:#333333;
  text-align: left;
  text-indent: 30px;
  width: 60%;
  margin: 0 auto;
  margin-top: 25px;
  /* margin-bottom: 10px; */
  line-height: 1.7;
}
.content h1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
}
.contentheader{
  background-color: #205C65;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentheader h1{
  margin:0;
}
.reflection h1{
  margin:0;
}
.casestudycontentgrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}
.casestudycontentgrid h3{
  line-height: 1.5;
  margin: 0 auto;
  color:#2f2f2f;
}
.casestudycontentgrid h2{
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: 'Roboto Slab', serif;
}
.casestudybutton{
  -moz-box-shadow:inset 0px 1px 0px 0px #23395e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #23395e;
  box-shadow:inset 0px 1px 0px 0px #23395e;
  background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
  background-color:#2e466e;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #1f2f47;
  cursor:pointer;
  color:#ffffff;
  font-family:Roboto;
  font-size:16px;
  font-weight:bold;
  padding:16px 0px;
  text-decoration: none;
  text-shadow:0px 1px 0px #263666;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 20%;
  text-align: center;
  left: auto;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 5px;
  display: grid;
  text-align: left;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px 16px;
  background-color: #205C65;
  color: white;
  text-align: center;
}

/* .modal-body {
padding: 2px 16px;
} */

.modal-footer {
  padding: 2px 16px;
  background-color: #205C65;
  color: white;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  background-color: #205c65;
  padding: 20px;
}
.container form{
  padding: 0px;
  display: grid;
  text-align: left;
}

.contactbutton{
  -moz-box-shadow:inset 0px 1px 0px 0px #23395e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #23395e;
  box-shadow:inset 0px 1px 0px 0px #23395e;
  background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
  background-color:#2e466e;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #1f2f47;
  cursor:pointer;
  color:#ffffff;
  font-family:Roboto;
  font-size:16px;
  font-weight:bold;
  padding:16px 0px;
  text-decoration: none;
  text-shadow:0px 1px 0px #263666;
  margin-bottom: 0px;
  margin-top: 0px;
  width: auto;
  text-align: center;
  left: auto;
  top: 0px;
}
.contactbutton:hover {
  background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
  background-color:#415989;
}
.contactbutton:active {
  position:relative;
  top: 2px;
}
.tab-content ul{
  font-family: 'Roboto Slab', serif;
}
.biography h1 {
  margin-top: 50px;
  margin-bottom: 35px;
}
.content img{
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: right;
  transform: scale(1.5);
}
.contentgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 675px) {
  .biography p{
    margin-left: 5%;
    margin-right: 5%;
  }
.mobileon{
display: none;
}
.mobileoff{
display: none;
}
}
@media (max-width: 1025px) {
  /* .biography p{
  margin-left: 5%;
  margin-right: 5%;
  } */
  .tab-content{
    display: block;
    text-align: center;
  }
  .tab-content ul{
    margin-right: 0px;
    margin-bottom: 25px;
    font-size: 2em;
  }
.projectcard{
width: 100%;
}
}
@media (max-width: 1400px) {
  footer{
    white-space: normal;
  }
  .casestudycontentgrid{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    grid-gap: 75px;
  }
  .problemsolution{
    grid-template-columns: 1fr;
    font-size: 125%
  }
  .problem{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .solution{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
