* {
  box-sizing: border-box;
  /* border: 1px solid red !important; */
}

html {
  font-size: 150%;
}

/*16px*/
body {
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333333;
}

.bodygrid {
  display: grid;
  grid-template-areas:
    /* 'nav' */
    'section1'
    'section2'
    'section3'
    'section5'
    'section4';
}

.menu {
  z-index: 4;
}

.menu.hero {
  position: fixed;
  background-color: transparent;
  display: flex;
  transition: top .2s;
  flex-direction: column;
}

.card .menu.hero {
  position: relative;
}

.menu.hero a {
  color: #D4D3DA;
}

.menu.hero .border {
  /* border-style: solid;
border-width: 0 0 10px 0;
border-color:#98ACA5; */
  height: 75px;
}

.active .menu.hero a {
  border: none
}

.navShadow {
  background-color: #98ACA5;
  width: 191px;
  height: 10px;
  position: absolute;
  top: 75px;
  left: 10px;
}

.menu.hero a:hover {
  color: #C6A344;
}

.logoTail {
  margin: 0;
  position: relative;
  border-style: solid;
  border-width: 85px 18px 0 10px;
  border-color: #98ACA5 transparent transparent #98ACA5;
}

.logoTail2 {
  position: relative;
  left: -53px;
  bottom: -10px;
  content: "";
  height: 70px;
  width: 308px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-image: url(../assets/navLogoTail.svg);
  transform: scale(.75);
  transition: opacity 1s;
}

.logoTail::before {
  position: absolute;
  left: -10px;
  bottom: 10px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 96px 20px 0 0;
  border-color: #4a7365 transparent transparent transparent;
}

.menu ul {
  margin: auto 25px;
}

.greenDropdown {
  position: absolute;
  top: 90px;
  left: -20px;
  padding: 10px 18px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  /* background: white; */
  background: #4A7365;
  /* background: #4A7365; */
  width: max-content;
  border: 1px solid #4A7365;
}

.greenDropdown:after {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0%;
  left: 20px;
  content: '';
  transform: translate(0%, -100%);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #4A7365;
}

.myPicture {
  /* float: right; */
}

.myPicture h4 {
  color: #4A7365;
}

p {
  margin-bottom: 1.15rem;
}

sub {
  font-size: .7em;
  font-style: italic;
  color: black;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
  line-height: 1.15;
  color: black;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
  font-weight: 600;
  margin-top: 0px;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
  font-weight: 600;
}

small, .text_small {
  font-size: 0.8em;
}

.section1 {
  margin: 75px 0 0 0;
  grid-area: section1;
  display: flex;
  justify-content: center;
}

.section1 .hvcenter {
  flex: .8;
}

.section1 .content {
  display: none;
  flex-shrink: 0;
}

.home {
  display: flex;
  background-image: url(../assets/personallogo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75px;
  width: 75px;
  margin-right: 5%;
}

.section2 {
  padding: 44px 15px;
}

.section2 h2 {
  margin-bottom: 44px;
}

.section2 h5 {
  margin-top: 16.8px;
}

.section2 .body {
  margin-bottom: 44px;
}

.section3 {
  grid-area: section3;
  background-color: #090909;
  color: #979797;
  padding: 44px 15px;
}

.section3 h2 {
  color: #FFFFFF;
}

.section3 h5 {
  color: #FFFFFF;
}

.section4 {
  grid-area: section4;
  padding: 44px 15px;
  text-align: center;
  max-width: 900px;
  margin: auto;
}

.section5 {
  background-color: #4A7365;
  color: #ffffff;
  text-align: center;
  height: 100vh;
}

.section5 h1 {
  color: #ffffff;
  margin: 44px 25px 50px 25px;
}

.section5 ul {
  display: flex;
  width: inherit;
  flex: 1;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 25px;
  padding-bottom: calc(44px - 25px);
}

.section5 a {
  background-color: #ffc31f;
  padding: 5px 25px;
  color: black;
  text-decoration: none;
  user-select: none;
  min-width: 220px;
  border-radius: 3px;
  margin-bottom: 25px;
}

.hvcenter {
  margin: auto;
  padding-top: 44px;
}

.picture {
  grid-area: picture;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 0 0 4rem 0;
}
.section2 .picture{
position: relative;
  top:18%;
}

.header {
  grid-area: header;
}

.body {
  grid-area: body;
}

.title {
  grid-area: title;
}

.hiddenMobile {
  display: none;
  height: 100px top: 20px;
}

.visibleMobile {
  display: block;
  height: 100px;
  top: -10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.serviceContainer {
  display: grid;
  grid-area: serviceContainer;
  grid-template-areas:
    'picture'
    'header'
    'body';
}

.principlesContainer {
  grid-area: principlesContainer;
  display: grid;
  grid-template-areas:
    'header'
    'body';
}

.aspectRatioContainerInner {
  display: none;
}

.businessCards {
  /* .section1 { */
  /* overflow: hidden; */
  /* background: url("../assets/Textures/bkg.jpg"); */
  /* background: url("../assets/Textures/casestudyCardBackground3.jpg"); */
  /* background: url("../assets/racecar.jpg"); */
  /* background-color: #4A7365; */
  background-size: 100% auto;
  background-size: cover;
  display: none;
}

.card {
  font-family: 'Lato', sans-serif;
  position: relative;
  width: 450px;
  height: 250px;
  padding: 10px 15px 15px 10px;
  /* margin-top:50px; */
  border-radius: 2px;
  background: url("../assets/Textures/texture.jpg");
  background-size: cover;
  box-shadow:
    0px -5px 5px rgba(0, 0, 0, 0.2),
    0px 5px 5px rgba(0, 0, 0, 0.4),
    -5px 0px 5px rgba(0, 0, 0, 0.4),
    5px 0px 5px rgba(0, 0, 0, 0.4),
    inset 1px 1px 20px rgba(0, 0, 0, 0.4);
  /* box-shadow:
    0px -10px 10px rgba(0, 0, 0, 0.2),
    0px 10px 20px rgba(0, 0, 0, 0.4),
    -10px 0px 20px rgba(0, 0, 0, 0.4),
    10px 0px 20px rgba(0, 0, 0, 0.4),
    inset 1px 1px 20px rgba(0, 0, 0, 0.4); */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 1.5s;
}

.logo {
  width: 200px;
  height: 90px;
  background: url("../assets/Textures/gold-texture.jpg");
  background-size: cover;
  clip-path: url(#business-card-svg);
  position: relative;
  top: 8px;
}

.front-text {
  font-size: 26px;
  letter-spacing: 2px;
  word-spacing: 6px;
  color: transparent;
  background: url("../assets/Textures/gold-texture.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  position: relative;
  top: 8px;
}

.back .flipped {
  color: transparent;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: 75px auto;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  grid-column-gap: 25px;
  transform: rotateX(180deg);
}

.back .flipped .myPicture img {
  border-radius: 15% 0 0 44%;
  object-fit: cover;
  object-position: -70px 0px;
  /* object-position: top; */
  /* height: 230px; */
  /* width: 150px; */
}

.name-text .role-text {
  position: relative;
  top: -10px;
  background: url("../assets/Textures/silver-texture.jpg");
  -webkit-background-clip: text;
  background-size: cover;
}

.back .flipped .myPicture {
  grid-row: auto / span 2;
  display: flex;
  overflow: hidden;
  align-self: stretch;
}

.name-text {
  font-size: 32px;
  word-spacing: 8px;
  background: url("../assets/Textures/silver-texture.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  margin-left: 30px;
  margin-top: 30px;
  text-align: left;
  color: transparent;
  font-weight: 700;
}

.role-text {
  font-size: 18px;
  background: url("../assets/Textures/gold-texture.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
}

.card.back .right {
  /* position: absolute; */
  width: 370px;
  /* right: 40px;
  bottom: 40px; */
  /* font-size: 16px; */
  font-size: 20px;
  font-weight: 700;
  color: transparent;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background: url("../assets/Textures/silver-texture.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
}

.card.front {
  transform: rotateZ(-7deg);
  /* left:calc(10% + 715px); */
  left: calc(25% + 415px);
  /* left: 53.1%; */
  /* left: 23.1%; */
  top: calc(23.5% - 10px);
  position: absolute;
  transition: 1.5s ease-out;
}

.card.back {
  transform: rotateZ(4deg);
  /* top: 48.1%; */
  left: calc(115px + 48vw);
  /* left: calc(10% + 915px); */
  /* left: 73.25%; */
  /* left: 43.25%; */
  position: absolute;
  /* top: calc(23vw + 180px); */
  top: calc(23.5% + 400px + -10vw);
}

.not-flipped {
  position: absolute;
  transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipped {
  position: absolute;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front.flipped {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.flipped ul {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}

.flipped .menu.hero {
  background-color: transparent;
  flex-direction: initial;
  justify-content: space-evenly;
  margin: 0 25px 15px 0;
  width: 425px;
}

.front.flipped .name-text {
  margin: auto;
}

#top-card:checked~.card.front {
  transform-origin: center left;
  transform: translateX(100%) rotateY(180deg);
  z-index: 3;
  top: -170px;
  left: 70px;
  transition: all 1s;
}

#bottom-card~.card.back {
  transform-origin: bottom left;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-353deg) translateX(00%) translateY(00%);
  z-index: 3;
}

#bottom-card:checked~.card.back {
  transform-origin: bottom left;
  transform: rotateX(0deg) rotateY(180deg) rotateZ(-180deg) translateX(-50%) translateY(150%) scale(1.12);
  z-index: 3;
}

.checkbox {
  display: none;
}

.card.front:hover {
  animation: slide-card .5s;
}

.front:hover~.card.back {
  /* top: calc(23.5% + 250px); */
}

.delay-checkbox {
  position: absolute;
  top: -99999px;
  left: -99999px;
  width: 0px;
  height: 0px;
  z-index: 2;
  opacity: .3;
  background-color: red;
}

.front:hover>.delay-checkbox {
  transition: 1ms 1ms ease-out;
  cursor: pointer;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#top-card:checked~.front:hover>.delay-checkbox {
  transition: 1ms .3s ease-out;
  cursor: pointer;
  top: -99999px;
  left: -99999px;
  width: 100%;
  height: 100%;
}

.back:hover>.delay-checkbox {
  transition: 1ms .3s ease-out;
  cursor: pointer;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#bottom-card:checked~.back:hover>.delay-checkbox {
  transition: 1ms .3s ease-out;
  cursor: pointer;
  top: -99999px;
  left: -99999px;
  width: 100%;
  height: 100%;
}

/* @keyframes slide-card {
  0% {
    transform: rotateZ(-15deg);
  }

  25% {
    transform: rotateZ(-30deg);
    top: calc(23.5% - 100px);
  }

  75% {
    transform: rotateZ(-15deg) scale(1.12);
    top: calc(23.5% - 100px);
  }

  100% {
    transform: rotateZ(-0deg) scale(1.12);
    z-index: 3;
  }
} */
.light {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 60%);
  opacity: 0.1;
  z-index: 9999;
  pointer-events: none;
  top: -178px;
  left: -215px;
}

.logoTail::after {
  display: none;
}

@media (min-width: 576px) {
  .logoTail::after {
    display: block;
  }

  .sectionPadding {
    padding: 140px 5%;
  }

  .serviceContainer {
    grid-template-areas:
      'picture header'
      'picture body';
    justify-content: flex-start;
    grid-column-gap: 30px;
  }
}

@media (min-width: 768px) {
  .section1 .content {
    display: inline-block;
  }

  .hiddenMobile {
    display: flex;
    justify-content: space-between;
  }

  .section1 {
    display: flex;
    margin: auto 0;
    /* background-image: linear-gradient(90deg, #ffffff 35%, #A9AFB5E0, #A9AFB5); */
    /* background-image: linear-gradient(90deg, #C7CAD5 25%, #C7CAD5, #ffffff); */
    background-image: linear-gradient(90deg, #ffffff 5%, #C7CAD5, #C7CAD5);
    justify-content: space-between;
    /* height: calc(100vh - 70px); */
    height: 750px;
    min-height: 100vh;
    perspective: 650px;
    overflow: hidden;
  }

  .section1 h3 {
    /* font-size: 76px; */
    font-size: 75px;
    margin: 0 0 1.05rem;
    /* text-shadow: 2px 2px 4px #000000 */
  }

  .section1 .body {
    width: 500px;
  }

  .section1 .myPicture {
    display: none;
  }

  .screen1 {
    grid-area: screen1;
  }

  .screen1>div {
    visibility: hidden;
    opacity: 0;
  }

  .screen1:hover>div {
    visibility: visible;
    transition: opacity 0.8s;
    opacity: 1;
    width: 640px;
  }

  .screen2 {
    grid-area: screen2;
  }

  .screen2>div {
    visibility: hidden;
    opacity: 0;
  }

  .screen2:hover>div {
    visibility: visible;
    transition: opacity 0.8s;
    opacity: 1;
    width: 570px;
  }

  .indexCards {
    grid-area: indexCards;
  }

  .indexCards>div {
    visibility: hidden;
    opacity: 0;
  }

  .indexCards:hover>div {
    visibility: visible;
    transition: opacity 0.8s;
    opacity: 1;
    width: 500px;
  }

  .mouseKeyboard {
    grid-area: mouseKeyboard;
  }

  .mouseKeyboard>div {
    visibility: hidden;
    opacity: 0;
  }

  .mouseKeyboard:hover>div {
    visibility: visible;
    opacity: 1;
    width: 480px;
  }

  .paperRulers {
    grid-area: paperRulers;
  }

  .paperRulers>div {
    visibility: hidden;
    opacity: 0;
  }

  .paperRulers:hover>div {
    visibility: visible;
    width: 575px;
    opacity: 1;
  }

  .manualDrafting {
    grid-area: manualDrafting;
  }

  .manualDrafting>div {
    visibility: hidden;
    width: 425px;
    opacity: 0;
  }

  .manualDrafting:hover>div {
    visibility: visible;
    opacity: 1;
  }

  .text1 {
    grid-area: text1;
  }

  .areaInfo {
    transition: opacity 0.8s;
    position: absolute;
    top: 30%;
    left: -500px;
    padding: 10px 20px;
    /* color: #444444;
    background-color: #EEEEEE; */
    color: #979797;
    background-color: #444444;
    z-index: 1;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .5);
  }

  .rolodex {
    grid-area: rolodex;
  }

  .rolodex>div {
    visibility: hidden;
    opacity: 0;
  }

  .rolodex:hover>div {
    visibility: visible;
    opacity: 1;
    width: 470px;
  }

  .serviceContainer {
    grid-template-areas:
      'picture header'
      'picture body';
  }

  .section3 .horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .principlesContainer {
    width: 45%;
  }

  .section5 ul {
    flex-direction: row;
  }
}

@media screen and (min-width: 860px) {}

@media (min-width: 1024px) {
  .section1 .body {
    width: auto;
  }

  nav {
    background: #ffffff;
    top: 0;
    display: block;
  }

  .businessCards {
    display: block;
  }

  .visibleMobile {
    display: none;
  }

  .horizontal {
    display: flex;
    justify-content: space-between;
  }

  .section1 .content {
    margin: auto 0;
    width: 615px;
  }

  .section1 .picture {
    width: 700px;
  }

  .aspectRatioContainer {
    position: relative;
    width: 100%;
    padding-top: 82.22%;
    background-image: url(../assets/davidsDesk.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .aspectRatioContainerInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'screen1 screen1 screen1 screen1 screen1 screen1 . screen2 screen2 screen2 screen2 screen2'
      'screen1 screen1 screen1 screen1 screen1 screen1 . screen2 screen2 screen2 screen2 screen2'
      'screen1 screen1 screen1 screen1 screen1 screen1 . screen2 screen2 screen2 screen2 screen2'
      '. . . . indexCards indexCards indexCards indexCards paperRulers paperRulers paperRulers paperRulers'
      'text1 text1 text1 text1 indexCards indexCards indexCards indexCards paperRulers paperRulers paperRulers paperRulers'
      'text1 text1 text1 text1 indexCards indexCards indexCards indexCards paperRulers paperRulers paperRulers paperRulers'
      '. . .  manualDrafting  manualDrafting  manualDrafting areaInfo areaInfo paperRulers paperRulers paperRulers paperRulers'
      'rolodex . .  manualDrafting  manualDrafting  manualDrafting areaInfo areaInfo . . . .'
      'rolodex . .  manualDrafting  manualDrafting  manualDrafting areaInfo areaInfo . . . .'
      '. . mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard'
      '. . mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard'
      '. . mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard mouseKeyboard';
  }

  .section2 h5 {
    text-align: center;
  }
  .section2 .body {
    text-align: center;
  }

  .section3 {
    display: flex;
  }

  .section3 h2 {
    margin: 44px 10% 0 0;
  }

  .section3 .horizontal {
    flex-wrap: wrap;
  }

  .section5 {
    display: flex;
  }

  .principlesContainer {
    width: 45%;
  }

  .serviceContainer .picture {
    position: relative;
    top: 50%;
    transform: scale(1.5);
    height: calc(150px * 1.5);
    margin: auto;
  }

  .serviceContainer {
    flex-basis: 30%;
    grid-template-areas:
      'picture'
      'header'
      'body';
  }
}

@media (min-width: 1400px) {
}

/*----- Toggle Button -----*/
.toggle-nav {
  /* display: none; */
}

div>h4 {
  margin: 0px;
}

.hiddenMobile h5 {
  margin: 0px;
}

/*----- Menu -----*/
.menu img {
  height: 70px;
}

.menu div {
  /* margin: auto 0; */
}

.menu li {
  margin: 0px 20px 0px 0px;
  /* float: left; */
  list-style: none;
}

.menu li:last-child {
  margin-right: 0px;
}

.menu a {
  color: #777;
  transition: color linear 0.15s;
}

.menu a:hover, .menu .current-item a {
  text-decoration: none;
  color: #4A7365;
}

.hero.menu a:hover, .menu.hero .current-item a {
  text-decoration: none;
  color: #c6a344;
}

/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
  .wrap {
    width: 90%;
  }
}

@media screen and (max-width: 970px) {
  .search-form input {
    width: 120px;
  }
}

.menu {
  /* position: relative; */
  position: fixed;
  /* display: inline-block; */
}

.menu ul.active {
  display: none;
}

.menu ul {
  position: absolute;
  top: 90px;
  left: -20px;
  padding: 10px 18px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  /* background: white; */
  background: #272727;
  /* background: #4A7365; */
  width: max-content;
  border: 1px solid black;
  z-index: 3;
}

.menu ul:after {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0%;
  left: 20px;
  content: '';
  transform: translate(0%, -100%);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #303030;
}

.menu li {
  margin: 5px 17px 5px 0px;
  float: none;
  display: block;
}

.menu a {
  display: block;
}

.menu img {
  position: absolute;
  top: 0;
  right: 0;
}

.toggle-nav {
  color: #4A7365;
  padding: 5px 15px;
  font-size: 40px;
  top: 0;
  left: 0;
  display: inline-block;
  color: #777;
  transition: color linear 0.15s;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  #profile-page {
    display: none;
  }
}

.logoTail {}

.menu svg:hover {
  transition: linear 0.15s;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .5));
  fill: #c6a344;
}

.menu svg {
  /* background-color: #4A7365; */
  padding: 15px;
  /* transition: linear 0.15s; */
  fill: white;
}

.toggle-nav:hover, .toggle-nav.active {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: #66a992;
}
