body{
padding-bottom: 125px;
position: relative;  min-height: 100vh;
}
header li {
display: inline;
text-align: right;
}
a{
color: #CDA74E;
color: #f9a825;
/* color: #ffffff; */
text-decoration: none;
white-space: nowrap;
}
header a {
color: #CDA74E;
color: #f9a825;
/* color: #ffffff; */
text-decoration: none;
transition: all .3s ease;
white-space: nowrap;
}
header a:hover{
box-shadow:
        0px 1px #53a7ea,
        0px 2px #53a7ea,
        0px 3px #53a7ea;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
header a:active{
position: relative;
top: 1px;
}
header{
height: 100px;
display: flex;
justify-content: center;
align-items: center;
background-color: #205C65;
position: fixed;
margin-top: -100px;
width: 100%;
z-index: 3;
}
header ul{
font-size: 20px;
color: #ffffff;
white-space: nowrap;
}
header a{
margin-right: 2%;
}
footer{
display: flex;
justify-content: center;
align-items: center;
background-color: #205C65;
height: 75px;
position: absolute;
bottom: 0;
width: 100%;
}
footer li {
display: inline;
text-align: right;
}
.alignright{
width: 76%;
text-align: right;
}
.alignleft{
display: flex;
align-items: center;
justify-content: center;
width: 24%;
}
.hero{
background-image: url(../assets/dock.jpg);
background-position: center;
background-size: cover;
margin-top: 100px;
height: 400px;
background-color: #ffffff;
display: grid;
}
.projectcard{
width: 80%;
margin-left: 10%;
margin-right: 10%;
margin-top: 50px;
margin-bottom: 50px;
height: 300px;
resize:horizontal;
overflow: auto;
border: 1px black solid;
box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
display: grid;
grid-template-columns: 30% 70%;
background-color: #205C65;
}
.projectdesc{
height: 300px;
}
.projectpicture{
height: 300px;
background-color: #205C65;
background-image: url(../assets/projectswish.png) , url(../assets/racecar.jpg);
background-repeat: no-repeat;
background-position: left, bottom;
background-size: contain , cover;
}
.projectpicture2{
height: 300px;
background-image: url(../assets/projectswish.png) , url(../assets/wall.jpeg);
background-repeat: no-repeat;
background-size: contain , cover;

}
.projectpicture3{
height: 300px;
background-image: url(../assets/projectswish.png) , url(../assets/bench.jpeg);
background-repeat: no-repeat;
background-position: center;
background-position: left;
background-size: contain , cover;

}
h1{
  font-size: 36px;
  text-align: center;
  margin-top: 18px;
}
.projectdesc h2 {
  margin-top: 40px;
  text-align: center;
  position: relative;
  left: 20%;
white-space: nowrap;
}
.projectdesc h3 {
  position: relative;
  left: 20%;
  margin-top: 5px;
white-space: nowrap;
}
.projectdesc a {
  text-align: center;
}
h2{
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;

}
h3{
  color: #ffffff;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
p {
  text-align: center;
  margin-top: 18px;
  margin-left: 25%;
  margin-right: 25%;
}
.designprocess h2{
  font-size: 48px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
}
.designprocess2 h2{
  color: #f9a825;
  font-size: 48px;
  text-shadow: 3px 3px 4px #000000;
text-align: center;
}
.designprocess3 h2{
  color: #ffffff;
  font-size: 48px;
  /* text-shadow: 2px 2px 8px #205C65; */
color: #EA2B2B;
  text-shadow: 2px 2px 4px #000000;
transform: rotate(-30deg);
position: relative;
left: 25%;

}
.designprocess4 h2{
  color: #000000;
  font-size: 48px;
  /* text-shadow: 2px 2px 4px white; */
  text-align: center;
  line-height: 109%;


/* color: white;
mix-blend-mode: exclusion; */

background-image:url(../assets/finalprototype.jpg);
width: 100%;
background-clip: text;
-webkit-background-clip: text;
filter: invert(1) grayscale(1) drop-shadow(0px 0px 1px black);
background-size:cover;
background-repeat: no-repeat;
background-position: center;
color: transparent;

}
.designprocesscontainer{
width: 50%;
height: 0px;
margin: 0 auto;
border-radius: 1px solid black;
overflow: hidden;
border-radius: 10px 10px 10px 10px;
}

.designprocesscontainer2{
width: 50%;
height: 0px;
margin: 0 auto;
border-radius: 1px solid black;
overflow: hidden;
}
.designprocesscontainer3{
width: 50%;
height: 0px;
margin: 0 auto;
border-radius: 1px solid black;
overflow: hidden;
}
.designprocesscontainer4{
width: 50%;
height: 0px;
margin: 0 auto;
border-radius: 1px solid black;
overflow: hidden;
}
#designprocessbutton:checked ~ .designprocesscontainer{
width: 100%;
-webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
transition: width 2s, height 3s, transform 1s;
-webkit-transform: rotate(0deg); /* Safari */
transform: rotate(0deg);
overflow: hidden;
height: 664px;
border: 1px black solid;
border-top: 0px;
box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 10px 10px;
}
#designprocessbutton2:checked ~ .designprocesscontainer2{
width: 100%;
-webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
transition: width 2s, height 3s, transform 1s;
-webkit-transform: rotate(0deg); /* Safari */
transform: rotate(0deg);
overflow: hidden;
height: 664px;
border: 1px black solid;
border-top: 0px;
box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 10px 10px;
}
#designprocessbutton3:checked ~ .designprocesscontainer3{
width: 95%;
-webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
transition: width 2s, height 3s, transform 1s;
-webkit-transform: rotate(0deg); /* Safari */
transform: rotate(0deg);
overflow: hidden;
height: 664px;
border: 1px black solid;
border-top: 0px;
box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
/* border-radius: 0px 0px 10px 10px; */
}
#designprocessbutton4:checked ~ .designprocesscontainer4{
width: 95%;
-webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
transition: width 2s, height 3s, transform 1s;
-webkit-transform: rotate(0deg); /* Safari */
transform: rotate(0deg);
overflow: hidden;
height: 664px;
border: 1px black solid;
border-top: 0px;
box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 10px 10px;
}
.designprocess{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
  margin-bottom: 0px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
  background-image:url(../assets/discoveryandresearch2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor:pointer;
  z-index: 1;
filter: grayscale(0%);
border-radius: 10px 10px 10px 10px;
}
.designprocess2{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
  margin-bottom: 0px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
  background-image:url(../assets/wall.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0,0,0,0);
  cursor:pointer;
  z-index: 1;
border-radius: 10px 10px 10px 10px;
}
.designprocess3{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
  margin-bottom: 0px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
  background-image:url(../assets/visualdesign.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor:pointer;
  z-index: 1;
border-radius: 10px 10px 10px 10px;
}
.designprocess4{
color: red;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
  margin-bottom: 0px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px black solid;
  box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.25);
  background-image:url(../assets/finalprototype.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor:pointer;
  z-index: 1;
border-radius: 10px 10px 10px 10px;
}

.projectcardbutton {
  -moz-box-shadow:inset 0px 1px 0px 0px #23395e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #23395e;
	box-shadow:inset 0px 1px 0px 0px #23395e;
	background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
	background-color:#2e466e;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #1f2f47;
	cursor:pointer;
	color:#ffffff;
	font-family:Roboto;
  font-size:16px;
  font-weight:bold;
  padding:16px 0px;
  text-decoration: none;
  text-shadow:0px 1px 0px #263666;
  display:block;
  position: relative;
  top: 30px;
  left: 20%;
  margin-bottom: 20px;
}
.projectcardbutton:hover {
  background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
  background-color:#415989;
}
.projectcardbutton:active {
  position:relative;
  top: 29px;
}
#designprocessbutton:checked + label{
/* transition: width 2s, height 5s, transform 2s;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px; */
  width: 100%;
-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
transition: width 2s, height 5s, transform 2s;
 margin: 0 auto;
margin-top: 50px;
border-radius: 0px 0px 0px 0px;
}
#designprocessbutton2:checked + label{
  width: 100%;
-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
transition: width 2s, height 5s, transform 2s;
 margin: 0 auto;
margin-top: 50px;
 /* transform: rotate(20deg); */
  /* transform: translate(-18.5%, 0%); */
  /* transform: translate(-18.5%, -100%); */
border-radius: 0px 0px 0px 0px;
}
#designprocessbutton3:checked + label{
/* transition: width 2s, height 5s, transform 2s;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px; */
width: 95.01%;
-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
transition: width 2s, height 5s, transform 2s;
 margin: 0 auto;
margin-top: 50px;
border-radius: 10px 10px 0px 0px;
}
#designprocessbutton4:checked + label{
/* transition: width 2s, height 5s, transform 2s;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px; */
  width: 95.01%;
/* opacity: .6; */
-webkit-transition: width 2s, height 2s, -webkit-transform 2s;
transition: width 2s, height 5s, transform 2s;
 margin: 0 auto;
margin-top: 50px;
border-radius: 10px 10px 0px 0px;
}
#designprocessbutton{
display: none;
}
#designprocessbutton2{
display: none;
}
#designprocessbutton3{
display: none;
}
#designprocessbutton4{
display: none;
}
.accordion.Discovery {
    -webkit-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    -moz-box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    box-shadow: 0px 75px 35px -55px rgba(10, 30, 65, 0.6);
    font-family: Arial, Helvetica, sans-serif;
    border-color: #505050;
    /* border-style: solid;
    border-width: 1px;
    border-radius: 1px; */
    margin: 0 auto;
    height: 664px;
    width: 100%;
}

.accordion.Discovery > ul > li,
.Discovery .accordion-title,
.Discovery .accordion-content,
.Discovery .accordion-separator {
    float: none;
}

.accordion.Discovery > ul > li {
    background-color: #1f1f1f;
    margin-right: -0px;
    margin-bottom: -500px;
}

.Discovery .accordion-select:checked ~ .accordion-separator {
    margin-right: 0px;
    margin-bottom: 500px;
}

.Discovery .accordion-title,
.Discovery .accordion-select  {
    background-color: #2d2d2d;
    color: #ffffff;
    width: 100%;
    height: 40px;
    font-size: 18px;
}

.Discovery .accordion-title span {
    margin-bottom: 20px;
    margin-left: 20px;
}

.Discovery .accordion-select:hover ~ .accordion-title,
.Discovery .accordion-select:checked ~ .accordion-title {
    background-color: #205C65;
}

 .Discovery .accordion-title span  {
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    margin-bottom: 0px;
    line-height: 40px;
}

.Discovery .accordion-content {
    background-color: #ffffff;
    color: black;
    height: 404px;
    width: 100%;
    padding: 48px;
}

.Discovery .accordion-title,
.Discovery .accordion-select:checked ~ .accordion-content {
    margin-right: 1px;
    margin-bottom: 1px;
}

/* Do not change following properties, they aren't
generated automatically and are common for each slider. */
.accordion {
    overflow: hidden;
}

.accordion > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 101%;
}

.accordion > ul > li,
.accordion-title {
    position: relative;
}

.accordion-select {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}

.accordion-title span {
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    white-space: nowrap;
}

.accordion-content {
    position: relative;
    overflow: auto;
}

.accordion-separator {
    transition: margin 0.3s ease 0.1s;
    -o-transition: margin 0.3s ease 0.1s;
    -moz-transition: margin 0.3s ease 0.1s;
    -webkit-transition: margin 0.3s ease 0.1s;
}
footer .alignright{
width: 24%;
text-align: right;
}
footer .alignleft{
display: flex;
align-items: left;
justify-content: center;
width: 24%;
}
footer .aligncenter{
text-align: center;
width: 50%;
}
i{
color: white;
font-size: 32px;
margin: 0px 15px 0px 15px;
}
