* {
  /* border: 1px solid red !important; */
}
.styleguideContainer {
  margin: 0 0 100px 0;
  /* height: 300vh; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  /* grid-template-columns: auto auto auto auto auto auto; */
  grid-template-rows: 150px auto auto auto auto;
  grid-template-areas:
    '. . . styleguideContainerPicture styleguideContainerPicture styleguideContainerPicture'
    'title title title styleguideContainerPicture styleguideContainerPicture styleguideContainerPicture'
    'overview overview overview styleguideContainerPicture styleguideContainerPicture styleguideContainerPicture'
    'role role role styleguideContainerPicture styleguideContainerPicture styleguideContainerPicture'
    'problem problem problem styleguideContainerPicture styleguideContainerPicture styleguideContainerPicture'
    'barriers barriers barriers styleguideContainerPicture styleguideContainerPicture styleguideContainerPicture'
    'solution solution solution styleguideContainerPicture styleguideContainerPicture styleguideContainerPicture';
}

.styleguideContainer>div {
  margin: 0 90px;
}

.styleguideContainer .title h2 {
  font-size: 2.355rem;
  margin: 10px 0;
}

.styleguideContainer .title {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.styleguideContainer>div>h5 {
  margin: 2.75rem 0 0 0;
}

.styleguideContainer>div>h5 {
  margin: 0 0 0 0;
}

.styleguideContainer .styleguideContainerPicture {
  margin: 0 0 0 0;
  background-image: url(../assets/ResilienceApp/styleguideBackground.jpg);
  background-position: center;
  background-size: contain;
  width: 100%;
  z-index: -1;
  /* filter        : blur(1px); */
  height: 300vh;
}

.heroPicture {
  display: flex;
  /* justify-content: center; */
  /* flex-direction: column; */
  margin: 5% auto;
  width: 90%;
  /* transform: translate3d(0px, 0px, 0px); */
  /* object-fit: cover; */
justify-content: space-between;
align-items: flex-start;
}

.heroPicture img {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  width: 100%;
  height: auto;
  object-fit: scale-down;
}

.pictureBorder {
  /* background-image: linear-gradient(180deg, #4B8A77, #6A988A 40%, #98ACA5);
  padding: 30px;
  margin: 200px 8%; */
  /* background-color:#C3D4DE; */
  /* background-color:#B3AFA8; */
  /* background-color:#DEE0E5; */
  padding: 100px calc(8% + 20px);
}

.borderContainerPicture {
  display: flex;
  margin: auto;
  background-color: white;
  border-radius: 5px;
}
.borderContainerPicture img {
  width: 100%;
  height: auto;
  object-fit: fill;
}
.projectNote{
  margin: 150px 0;
  /* padding: 10px 75px; */
  padding: 10px 50px 10px 75px;
  /* background-color: #FFF1DD; */
  background-color: #4A7365;
  width: 50%;
  color: white;
  border-radius: 0 15px 15px 0;
}
.imgGrid{
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(min(360px, 100%), 1fr));
  grid-gap: 4px;
  grid-auto-rows: auto;
}
.imgGrid div{
  width: 100%;
  height: auto;
  height: 200px;
  background-color: lightblue;
}
.imgGrid img{
  width: 100%;
  height:auto;
object-fit: scale-down;
}
.row {
  display: flex;
  flex-wrap: wrap;
  /* padding: 0 20px; */
  padding: 100px 200px 8% 8%;
}
.grayBackgroundRow{
  background-color: #DEE0E5;
  margin: 0;
  padding: 200px 8%;
}
.column {
  flex: 25%;
  max-width: 25%;
  padding: 20px 20px;
}
.largeColumn {
  flex: 50%;
  max-width: 50%;
  padding: 0 40px 0 0;
}
.largeColumn img{
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 20px;
  /* padding: 10px; */
}
img{
  border-radius: 5px;
}
.column img{
  width: 100%;
  height:auto;
object-fit: scale-down;
}

.pBlock{
  padding: 100px 0;
}
.pBlock p{
  margin: 0;
}
@media (max-width: 1200px) {
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 20px 20px;
  }
  .projectNote{
    width: 75%;
  }
  .pictureBorder{
    margin: 200px 0;
  }
  .styleguideContainer {
    /* margin: 100px 50px 50px 50px; */
    /* height: 300vh; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-columns: auto auto auto auto auto auto; */
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      'title title title styleguideContainerPicture styleguideContainerPicture styleguideContainerPicture'
      'overview overview overview styleguideContainerPicture styleguideContainerPicture styleguideContainerPicture'
      'role role role styleguideContainerPicture styleguideContainerPicture styleguideContainerPicture'
      'problem problem problem styleguideContainerPicture styleguideContainerPicture styleguideContainerPicture'
      'barriers barriers barriers styleguideContainerPicture styleguideContainerPicture styleguideContainerPicture'
      'solution solution solution styleguideContainerPicture styleguideContainerPicture styleguideContainerPicture';
  }
  .styleguideContainer > div{
    font-size: 75%;
    margin: 50px 20px;
  }
.parallax{
  /* display: none; */
}
}
@media (max-width: 768px) {
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 20px 20px;
  }
  .projectNote{
    width: 100%;
    margin: 200px 0;
  }
  .pictureBorder{
    margin: 200px 0;
  }
}
@media (max-width: 768px) {
  .styleguideContainer {
    /* margin: 100px 50px 50px 50px; */
    /* height: 300vh; */
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: auto auto auto auto auto auto; */
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    'styleguideContainerPicture'
    'title'
    'overview'
    'role'
    'problem'
    'barriers'
    'solution';
  }
  .styleguideContainer > div{
    margin: 50px 10px;
    font-size: 90%;
  }
  .pictureBorder{
    margin: 100px 0;
    padding: 3px;
  }
  .projectNote{
    margin: 100px 0;
  }
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 4px;
  }
  .largeColumn{
    flex: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .largeColumn img{
    padding: 0;
    margin: 0;
  }
  .row{
    margin: 0;
    padding: 0;
  }
  .styleguideContainer .styleguideContainerPicture{
    /* background-repeat: no-repeat; */
    height: 100vh;
    width: 100%;
  }
  footer{
    min-height: 100vh;
  }
}
